#nav{
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    height: 3.66666666667rem;
    background: #e5e5e5;
    z-index: 2
}
.nav-item{
    width: 50%;
    height: 100%;
    line-height: 3.6666666667rem;
    font-size: 1.333333333333rem;
    color: #999;
    text-align: center;
    transition: all .32s
}
.nav-active{
    font-weight: 700;
    color: #333;
    background: #fff
}
#main{
    padding: 3.6666666667rem 0 4.0833333333333rem
}
.tips-wrp{
    padding: 0 1rem 1.666666667rem;
    background: #fff
}
.tips-top{
    height: 3.9166666666667rem;
}
.detail-wrp{
    min-height: 66.8325vh;
    background: #fff;
    padding: 1rem 1rem 0;
    margin-bottom: .833333334rem
}
.detail-block textarea{
    min-height: 30vh
}
.img-item{
    position: relative;
}
.delete-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
}
.delete-img::before,.delete-img::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 2px;
    background: #fff
}
.delete-img::before{
    transform: rotate(45deg)
}
.delete-img::after{
    transform: rotate(-45deg)
}
/* 上传图片 */
.upload-wrp{
    position: relative;
    margin-left: auto;
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    text-align: center;
    color: #999;
}
.upload-wrp input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}
.upload-content img{
    margin-bottom: .6666666667rem;
    width: 2rem;
    height: 1.666666667rem
}
/* 备注 */
.activity-tips-block textarea{
    width: 100%;
    height: calc(66.8325vh - 2rem);
}
.textarea-wrp{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 1rem 1rem 0;
    height: 8.33333333334rem;
    background:#f2f2f2;
    border-radius: .6666666666667rem
}
.textarea-wrp::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: 1px solid #ccc;
    z-index: -1;
    transform: scale(.5);
    border-radius: .6666666666667rem;
}
textarea::-webkit-input-placeholder{
    color: #999;
    font-size: 1.1666666667rem;
}
textarea{
    width: 100%;
    height: 100%;
    font-size: 1.16666666667rem;
    line-height: 1.5;
    caret-color: #945DFF;
    word-break: break-all;
    color: #333
}

#footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    height: 4.083333333333rem;
    background: #fff
}
.footer-btn{
    text-align: center;
    line-height: 4.083333333333rem;
    font-size: 1.33333333333rem;
    color: #999
}
.footer-btn:last-of-type{
    background: #945DFF;
    color: #fff
}
.model-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 640px;
    z-index: 99
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.56)
}
.model-layer-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 64%;
    height: 23.3333333333rem;
    margin: auto;
    text-align: center;
    background: #fff;
    border-radius: .66666666667rem;
    overflow: hidden;
}
.model-layer-content .close{
    position: absolute;
    top: .83333333333rem;
    right: .8333333333rem;
    width: 1.6666666666667rem;
    height: 1.6666666666667rem;
}

.model-layer-content .close::before,.model-layer-content .close::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 2px;
    background: #e5e5e5
}
.model-layer-content .close::before{
    transform: rotate(45deg)
}
.model-layer-content .close::after{
    transform: rotate(-45deg)
}

.model-layer-content img{
    padding: 1.6666666667rem 0;
    width: 10.3333333333rem;
    height: 10.333333333rem;
}
.model-layer-content p{
    font-size: 1.16666666667rem;
    margin-bottom: 1rem;
    color: #333
}
.model-layer-content h2{
    font-size: 1.3333333333rem;
    color: #333
}

.layer-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.layer-footer button{
    text-align: center;
    height: 3.625rem;
    line-height: 3.625rem;
    font-size: 1.6666666667rem
}
.layer-footer button:first-of-type{
    color: #999
}
.layer-footer button:last-of-type{
    background: #945DFF;
    color: #fff
}
