.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.flex-col { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flex-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.flex-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.flex-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.flex-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.flex-nowrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-flow: no-wrap; -ms-flex-flow: no-wrap; flex-flow: no-wrap; }

.flex-wrap { -webkit-flex-flow: wrap; -ms-flex-flow: wrap; flex-flow: wrap; }

.flxe-justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.flex-col-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.common-width-100 { width: 100%; }

.common-ft-bold { font-weight: 700; }

.common-poz { position: relative; }

.container { padding-bottom: 2rem; }

.single-member-info { padding-top: 0.6rem; }

.single-member-info .main-title { font-size: 1.2rem; font-weight: 700; padding-left: 0.6rem; line-height: 1.7rem; margin-bottom: 1.2rem; }

.single-member-info .sub-title { color: #999; font-size: 0.7rem; }

.single-member-info .sub-title span { color: #FF302D; font-size: 0.7rem; }

.single-member-info .add-photo-btn { width: 3rem; height: 3rem; background: #fff; border: 1px dashed #cccccc; border-radius: 0.3rem; position: relative; margin-right: 0.6rem; }

.single-member-info .add-photo-btn span { color: #666; font-size: 0.6rem; }

.single-member-info .add-photo-btn::before, .single-member-info .add-photo-btn::after { display: block; content: ''; width: 0.8rem; height: 0.1rem; background: #ccc; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.single-member-info .add-photo-btn::before { -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }

.single-member-info .add-photo-btn .photo-num { font-size: 0; position: absolute; left: 50%; color: #666; -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 0.1rem; width: 2rem; text-align: center; }

.single-member-info .add-photo-btn .photo-num span { font-size: 0.6rem; }

.single-member-info .photo-wrp { padding-left: 0.6rem; margin-bottom: 1.2rem; }

.single-member-info .photo-item-wrp { height: 3rem; overflow: hidden; margin-left: -0.4rem; }

.single-member-info .photo-self { width: 3rem; height: 3rem; border-radius: 0.3rem; }

.single-member-info .photo-self-wrp { padding-bottom: 1rem; width: 8.95rem; overflow-x: scroll; white-space: nowrap; font-size: 0; }

.single-member-info .photo-self-wrp .photo-item { display: inline-block; position: relative; }

.single-member-info .photo-self-wrp .photo-item + .photo-item { margin-left: 0.2rem; }

.single-member-info-main { padding: 0 0.6rem; }

.single-member-info-main .input-box { font-size: 0.7rem; width: 11.6rem; }

.single-member-info-main .single-member-info-item { line-height: 1rem; margin-bottom: 1.2rem; }

.single-member-info-main .change-btn { font-size: 0.7rem; }

.single-member-info-main .change-btn div { border-radius: 1.2rem; font-weight: 700; width: 3.45rem; line-height: 1.2rem; background: #F2F2F2; text-align: center; }

.single-member-info-main .change-btn .change-btn-active { color: #fff; background: #FF2D58; }

.single-member-info-main .change-btn .change-btn-girl { margin-left: 0.6rem; }

.single-member-info-main .single-member-info-item-right { width: 11.6rem; }

.single-member-info-main .single-member-info-item-right .text { font-size: 0.7rem; font-weight: 700; width: 10rem; }

.single-member-info-main .single-member-info-item-right .icon-arrow-right { width: 0.4rem; height: 0.65rem; }

.monologue-wrp { padding: 0 0.6rem; }

.monologue-wrp .monologue-title { font-size: 1.2rem; font-weight: 700; line-height: 1.7rem; padding-top: 0.4rem; margin-bottom: 0.5rem; }

.monologue-wrp .monologue-textarea { border: 1px solid #ccc; height: 5.4rem; padding: 0.6rem; }

.monologue-wrp .monologue-textarea textarea { width: 100%; height: 100%; font-size: 0.7rem; font-weight: 700; }

.monologue-wrp .font-num { color: #999; font-size: 0.7rem; padding-top: 0.4rem; padding-bottom: 1.5rem; }

.matchmaker-next-btn-default { width: 17.55rem; height: 2.6rem; line-height: 2.6rem; text-align: center; background: #f2f2f2; border-radius: 2.75rem; font-size: 0.8rem; color: #999; margin: 0 auto; }

.matchmaker-next-btn-active { background: -webkit-linear-gradient(359deg, #ff3a37 0%, #ff0090 100%); background: linear-gradient(91deg, #ff3a37 0%, #ff0090 100%); -webkit-box-shadow: 0 0.2rem 0.5rem rgba(255, 48, 45, 0.4); box-shadow: 0 0.2rem 0.5rem rgba(255, 48, 45, 0.4); color: #fff; }

.weui-picker__hd { padding: 0.7rem !important; }

.weui-picker__hd .weui-picker__action { color: #FF2D58; }

.weui-picker__hd .weui-picker__action { font-size: 0.8rem; }

.toolbar { font-size: 0.8rem !important; }

.toolbar .toolbar-inner { height: 2.4rem !important; }

.toolbar .title, .toolbar .picker-button { height: 2.4rem !important; line-height: 2.4rem !important; font-size: 0.8rem !important; }

.toolbar .picker-button { color: #FF2D58 !important; }

.weui-picker-modal .picker-item { font-size: 0.8rem !important; height: 1.6rem !important; line-height: 1.6rem !important; }

.photo-item-bg { background: rgba(0, 0, 0, 0.4); height: 100%; position: absolute; width: 100%; top: 0; z-index: 100; border-radius: 0.4rem; }

.photo-item-radio { width: 1rem; height: 1rem; border: 0.05rem solid white; -webkit-box-shadow: 0 0.1rem 0.2rem rgba(34, 18, 18, 0.05); box-shadow: 0 0.1rem 0.2rem rgba(34, 18, 18, 0.05); border-radius: 50%; position: absolute; left: 50%; top: 50%; background: #999999; opacity: 0.4; z-index: 200; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.photo-item-radio-active { background: #ffc96b; opacity: 1; }

.photo-item-radio-active::after { content: '\00a0'; display: inline-block; border: 2px solid #fff; border-top-width: 0; border-right-width: 0; width: 0.4rem; height: 0.2rem; left: .18rem; top: .18rem; position: absolute; -webkit-transform: rotate(-50deg); transform: rotate(-50deg); }

/*# sourceMappingURL=L:/working/city/WorkCode/appointment/addSingleMember.css.map */
