#app{
    box-sizing: border-box;
    padding-top: 2.3333333333333rem;
    width: 100%;
    height: 100vh;
    background: url(../img/ai-bg.png) no-repeat;
    background-size: 100%;
    /* overflow: hidden; */
}

.poster-wrp{
    position: relative;
    margin:0 auto 2rem;
    width: 80%;
    height: 79.60199004975%;
    box-shadow:0px 8px 20px 0px rgba(91,99,245,0.69)
}
#poster{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.poster-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1
}
.poster-tips{
    font-size: 1.3333333333333rem;
    color: #fff;
    text-align: center
}

#backTop{
    display: block;
    width:4.0833333333333rem;
    height: 4.0833333333333rem;
    border-radius: 50%;
    position: fixed;
    bottom: 4.458333333333rem;
    right: 1rem;
    overflow: hidden;
}