@charset "UTF-8";
/* 字体颜色 */
.font-fff{
    color: #fff
}
.font-333{
    color: #333
}
.font-666{
    color: #666
}
.font-999{
    color: #999
}
.font-red{
    color: #ff2727
}
.font-blue{
    color: #009cff
}
.font-purple{
    color: #945DFF
}

/* 背景颜色 */
.global-bg-fff{
    background: #fff
}
.global-bg-red{
    background: #FB4D4A
}
.global-bg-blue{
    background: #009CFF
}
.global-bg-purple{
    background: #945DFF
}
.global-bg-orange{
    background: #FFC96B
}
.global-bg-pink{
    background:#FF6BE1
}
.global-bg-light-pink{
    background:#FF896B
}

/*通用样式*/
*{margin: 0;padding: 0}

body,div, ul, li, p,h1,h2,h3,h4,h5,h6,form, fieldset, legend, input, textarea, img, section, article, button, textarea { 
    padding: 0; margin: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiase;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
    max-width: 640px;
    margin: 0 auto;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    line-height:1; 
    background: #f5f5f5;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

input,textarea,button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent
}

input{
    -webkit-input-placeholder: #999;
    -moz-placeholder:#999;
    -ms-input-placeholder:#999
}
textarea{
    -webkit-textarea-placeholder:#999;
    -moz-placeholder:#999;
    -ms-textarea-placeholder:#999
}

textarea {
    resize: none
}

a { 
    text-decoration: none;
    color: #333;
    cursor: pointer
}

em, i { 
    font-style: normal
}

img { 
    vertical-align: middle; 
    border: none 
}

.global-img{
    width: 100%;
    height: 100%
}

ul, li { 
    list-style: none
}
/* 布局 */
.global-fl-right {
    float: right
}

.global-fl-left {
    float: left
}

.global-clearfix {
    *zoom: 1
}

.global-clearfix:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    overflow: hidden    
}

.global-none { 
    display: none
}

.global-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.global-flex-wrap{
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
.global-flex-1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.global-flex-center {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center
}
.global-flex-end {
    -webkit-align-items:flex-end;
	align-items:flex-end
}
.global-flex-between{
    -webkit-box-pack: space-between;
    -moz-justify-content:space-between;
    -webkit-justify-content: space-between;
    justify-content:space-between
}
.global-flex-around{
    -webkit-box-pack: space-around;
    -moz-justify-content:space-around;
    -webkit-justify-content: space-around;
    justify-content:space-around
}
.global-flex-justify-center{
    -webkit-box-pack:center;
    -moz-justify-content:center;
    -webkit-justify-content: center;
    justify-content:center
}
.global-flex-nowrap{
    -webkit-flex-wrap:nowrap;
    -moz-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    -o-flex-wrap:nowrap;
    flex-wrap:nowrap
}
.global-flex-wrap{
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    -o-flex-wrap:wrap;
    flex-wrap:wrap
}
.global-flex-column{
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.global-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.global-absolute{
    position: absolute
}

.global-relative,.global-border,.global-border-all{
    position: relative
}

/* 富文本 */
.font-left {
    text-align: left; 
}
.font-center { 
    text-align: center; 
}
.font-right { 
    text-align: right; 
}
/* 字体以375屏幕为基准进行缩放 */
.font-10{
    font-size: .8333333333334rem
}
.font-11{
    font-size: .916666666666rem
}
.font-12{
    font-size: 1rem
}
.font-13{
    font-size: 1.083333333333rem
}
.font-14{
    font-size: 1.1666666666667rem
}
.font-15{
    font-size: 1.25rem
}
.font-16{
    font-size: 1.333333333333rem
}
.font-18{
    font-size: 1.5rem
}
.font-line-through{
    text-decoration: line-through
}
.font-bold { 
    font-weight: 700
}
.font-ellipsis{
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    line-height: 1.35;
    overflow: hidden
}
.font-ellipsis-1 {
    -webkit-line-clamp: 1
}
.font-ellipsis-2 {
    -webkit-line-clamp: 2
}
.font-ellipsis-3 {
    -webkit-line-clamp: 3
}

/* 按钮 */
.global-btn{
    display:table-cell;
    vertical-align:middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700
}
.global-btn-round-sm{
    min-width: 5.75rem;
    padding: 0 .8333333333334rem;
    height: 2rem;
    border-radius: 1rem
}
.global-btn-round-lg{
    margin: 0 auto;
    width: 100%;
    height: 4.333333333rem;
    color: #fff;
    font-size: 1.25rem;
    background: -webkit-linear-gradient(90deg,#61ABFF,#CF2AFF);
    background: linear-gradient(90deg,#61ABFF,#CF2AFF);
    border-radius:50px
}

/* 常用样式 */
.global-mg-b10{
    margin-bottom: .83333333333334rem
}
.global-pd-left-right{
    padding: 0 1rem
}
.global-align-left{
    margin-right: auto
}
.global-align-right{
    margin-left: auto
}
.global-align-top{
    margin-top: auto
}
.global-margin-auto{
    margin: 0 auto
}
.global-center{
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.global-fix,.global-fix-mask,.global-fix-layer{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    height: 100vh;
    max-width: 640px;
    z-index: 999
}
.global-fix-mask{ 
    background:rgba(0, 0, 0, .68)
}
.global-fix-layer{
    background:#fff
}
.global-tag{
    position: relative;
    margin-right: 4px;
    padding: 0 .5rem;
    height: 1.1666666666667rem;
    font-size: .83333333334rem;
    color: transparent
}
.global-tag-text{
    position: absolute;
    line-height: 137.5%;
    font-size: 1.666666667rem;
    color: #666;
    text-align: center;
    border-radius: 24px
}
.global-sexual-woman,.global-sexual-man{
    position: relative;
    margin: 0 .3333333333rem .33333333333rem 0;
    height: 1.1666666666667rem;
    width: 2.666666666667rem;
    color: #fff;
    border-radius: 16px;
    overflow: hidden
}
.global-sexual-woman{
    background: #FF6BE1
}
.global-sexual-man{
    background: #009CFF
}
.global-icon-sexual{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    left:6.25%;
    font-weight: 600;
    width: 1.3333333333rem;
    height: 1.33333333333rem;
    transform: scale(.5)
}
.global-sexual-text{
    display: block;
    position: absolute;
    top: -50%;
    width: 137.5%;
    height: 200%;
    text-align: center;
    line-height: 150%;
    font-size: 1.66666666666rem;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.global-border::before,.global-border-all::before{
    content: '';
    position: absolute
}
.global-border::before{
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}
.global-tag-text,.global-border-all::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    border: 1px solid #ccc;
    -webkit-transform: scale(.5);
    transform: scale(.5)
}
.global-border-top::before{
    top: 0
}
.global-border-bottom::before{
    bottom: 0
}

/* 开通会员 */
.global-vip-signs{
    margin-left: .5rem;
    width: 2rem;
    height: 1.16666666666rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAcCAMAAAAQssz4AAAATlBMVEUAAAD/yWv/yWv/yWv/yWv/yWv/yWv/yWv/yWv/yWv/yWv/////3KX/zXj/9eb/47n/0YT//Pf/8d7/7tX/58P/6sz/2Jv/1JD/+O//4K/eUGcMAAAACnRSTlMAyOk+89yKYiVIkjzwxgAAASBJREFUOMudlNuWgyAMRcULViKCd/3/Hx0EkgozQ7HnoQ1ruSE5IRSkirNS/KmS8aqI1TYiqaYNPn8x8VHsdcumFBkqKa9OZKrz+dS5QO2yYiJbzPqDq37DSPfSrmTvpIm4vCI/jxGjGXYJg9kCvCaJ7hqHiF7gdIEcB+EBZU9YzcKrKjgBO8wuUKAQ6P1eGAh+L3kapfsHHQE9LFS26xntbKTNSf8CZSHekuPkuDMGZiAHi3vXZrgMHIxbQdHnDBP1zqaEOkFdta9vwGlcJV2osM/HcDmyRSfooNf8DqywWyioIRDHxmErlg1UCqjc1SANxwo6ATR0+agVxtoE0MbXWwOoBMB+D5CUGOBPMEDPR9QTddaAdk+fme8essdP5Q9onDEL9NGgdwAAAABJRU5ErkJggg==) 0% 0%;
    background-size: cover
}
/* 动画 */
.anim {
    transform-style: preserve-3d;
    transform: translateZ(0);
    perspective: 1000px
}

.slideFromTop,
.slideOutTop,
.sliderFromDown,
.slideOutDown,
.slideFromRight,
.slideOutRight,
.slideFromLeft,
.slideOutLeft,
.fadeIn.fadeOut {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@-webkit-keyframes sliderFromTop{
    0%{
        transform:translateY(-125%)
    }
    100%{
        transform:translateY(unset)
    }
}
@keyframes sliderFromTop{
    0%{
        transform:translateY(-125%)
    }
    100%{
        transform:translateY(unset)
    }
}
.sliderFromTop {
    -webkit-animation: sliderFromTop .56s cubic-bezier(0.430, 0.070, 0.750, 0.750) both;
    animation: sliderFromTop .56s cubic-bezier(0.430, 0.070, 0.750, 0.750) both
}
@-webkit-keyframes sliderOutTop{
    to{
        transform: translateY(-150%)
    }
}
@keyframes sliderOutTop{
    to{
        transform: translateY(-150%)
    }
}
.sliderOutTop {
    -webkit-animation: sliderOutTop .56s cubic-bezier(0.250, 0.250, 0.580, 0.990) both;
    animation:sliderOutTop .56s cubic-bezier(0.250, 0.250, 0.580, 0.990) both
}

@-webkit-keyframes sliderOutDown{
    100%{
        transform: translateY(100%)
    }
}
@keyframes sliderOutDown {
    100%{
        transform: translateY(100%)
    }
}



@-webkit-keyframes sliderFromDown{
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(unset)
    }
}
@keyframes sliderFromDown {
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(unset)
    }
}
.sliderFromDown {
    -webkit-animation: sliderFromDown .56s cubic-bezier(0.000, 0.380, 0.415, 1) both;
    animation: sliderFromDown .56s cubic-bezier(0.000, 0.380, 0.415, 1) both
}

@-webkit-keyframes sliderOutDown{
    100%{
        transform: translateY(100%)
    }
}
@keyframes sliderOutDown {
    100%{
        transform: translateY(100%)
    }
}

.sliderOutDown {
    -webkit-animation: sliderOutDown .56s cubic-bezier(0.465, 0.850, 0.760, 1.000) both;
    animation: sliderOutDown .56s cubic-bezier(0.465, 0.850, 0.760, 1.000) both
}

@keyframes sliderFromLeft {
    to{
        transform: translateX(100%)
    }
}
.slideFromLeft {
    animation: sliderFromleft .56s cubic-bezier(0.000, 0.565, 0.360, 0.995) both
}

.slideOutLeft {
    animation: sliderOutLeft;
}

@-webkit-keyframes fadeIn{
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation: fadeIn .92s cubic-bezier(0.000, 0.505, 0.500, 1.000) both;
    animation: fadeIn .92s cubic-bezier(0.000, 0.505, 0.500, 1.000) both
}
@-webkit-keyframes fadeOut{
    from {
        opacity: 1
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation: fadeOut .36s cubic-bezier(0.000, 0.505, 0.500, 1.000) both;
    animation: fadeOut .36s cubic-bezier(0.000, 0.505, 0.500, 1.000) both
}

.loading-list-icon{
    display: block;
    margin: 0 auto;
    width: 3.3333333333rem;
    height: 3.3333333333rem
}
.loading-all{
    font-size: 1rem;
    color: #999;
    text-align: center;
    padding: 1.66666667rem
}

.global-dialog-tips{
    display: none;
    position:fixed;
    z-index:1000;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.6);
    z-index: 1000
}
.dialog-tips-content{
    position: absolute;
    top:50%;
    left:50%;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: .6666666667rem;
    background: #fff;
    transform: translate(-50%, -50%);
    overflow: hidden    
}
.dialog-tips-content-top{
    height: 10.333333334rem;
}
.dialog-title{
    font-size:1.333333333333rem;
    margin-bottom: 1rem 
}
.dialog-text{
    padding: 0 4rem;
    font-size: 1.1666666667rem;
    line-height: 1.5;
    color: #999
}
.dialog-btn{
    display: block;
    text-align: center;
    width:100%;
    line-height:3.75rem;
    font-size:1.3333333333rem;
    color:#333
}

/* 自适应缩放比例 */
@media screen and (min-width:320px) {
    html {
        font-size: 62.5%
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 75%
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 87.5%
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 100%
    }
}





