/* 板块导航 */
.paopao-nav-wrapper{
    height: 3.66666666rem;
    padding: 0 1rem;
    background: #fff;
    z-index: 100;
}
.paopao-nav{
    height: 2.4rem;
}
.paopao-nav-item .paopao-nav-text{
    font-size: 1.33333333333rem;
    transform-origin: 100% 100%;
    transition: transform .32s
}
.paopao-nav-item .paopao-tag-hot{
    transition: transform .32s
}
.paopao-nav-active .paopao-tag-hot{
    transform: translate(.85rem,-.35rem)
}
.paopao-nav-item:not(:last-of-type){
    margin-right: 2rem
}
.paopao-nav-active .paopao-nav-text{
    font-weight: 700;
    transform: scale(1.45) translateX(.75rem)
}
.paopao-nav .paopao-tag-hot{
    margin-left: 2px;
    width: 2.3333333333rem;
    height:1.16666666667rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAcCAMAAAADZYwMAAAAOVBMVEUAAAD7TEn8TEn7TEn5S0f7TUr////8j43+1tb/9fX+5+f8f339n537XFn7Y2H9r638cW79u7r+wsGsA7nRAAAABXRSTlMAkO3IKOiHUVoAAAEsSURBVDjLnZKNcoQgDISrlcUN4Uff/2EbipXreXMjt44kIF8CiV9VyzTPblCVm5o7DH67T9TzjYKL+0yPCaP6apKZvubDa/DxhgFSjcfa1xRMFiofT+ng/B50u80C/uQ7eHpsn7SZFiOGkggffZO8BFcRUMSTANmT65bOLRfwctSnU98Ai0sKHQYpVMoYGIQwrdmGMAImUCCxdg4sydwc7x21HGl2EAxkgA4Up/0qO8KKHf4e6IUGekDNrxbl5lEBqivMbZq53m6HRhvsDcnFTe/3UW3XxuAyttrS8hacO5iIYPBWGxPdBokXUDr4fYLR6ngUtgaOgvwfTGSt16GpgzuTGVo25WYhGJ4yCpnPyWLgGfKXP97DC8Vd1BIaOC674SDY842D8zwtlfsBybEkaaIqGnMAAAAASUVORK5CYII=) 0 0 no-repeat;
    background-size: cover
}
.icon-selected{
    margin-right: 4px;
    width: 1.166666666667rem;
    height: 1.166666666667rem;
    fill: #333
}

/* 筛选层 */
.paopao-selected-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .52);
    z-index: 9;
    overflow: hidden
}
.paopao-selected-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem 2.66666667rem;
    background: #fff;
    border-bottom-right-radius: .666666667rem;
    border-bottom-left-radius: .666666667rem;
    z-index: 10
}
.selected-item{
    margin-bottom: 3rem;
}
.selected-item-top{
    margin-bottom:1.8rem;
    font-size: 1.1666666666667rem
}
.selected-item-tagname{
    margin-right: 1rem;
    font-size: 1.1666666666667rem
}
.selected-sexual-btn{
    font-weight: 500;
    height: 2.5rem;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 30px
}
.selected-sexual-active{
    color: #fff;
    background: #945DFF;
    border-color: #945DFF
}
.selected-sexual-btn:not(:last-of-type){
    margin-right: .833333333rem
}
.selected-btn{
    font-weight: 500;
    font-size: 1.3333333333rem;
    height: 4.333333333rem;
    border-radius: 52px
}
.selected-btn-reset{
    box-sizing: border-box;
    margin-right: .91666666666667rem;
    width: 9.16666666667rem;
    color: #999;
    border: 1px solid #ccc
}
.selected-btn-sure{
    color: #fff;
    background: #945DFF
}

/*  */
.paopao-block-swiper .swiper-slide{
    height: calc(100vh - 7.76rem);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}
/* 推荐 */
.paopao-list{
    padding: 0 1rem 2rem
}
.paopao-item:nth-of-type(2n+1){
    float: left;
}
.paopao-item:nth-of-type(2n){
    float: right;
}
.paopao-item{
    padding: .5rem 0;
    width: 49.714285714%;
    border-radius: .6666666667rem;
    overflow: hidden
}
.paopao-item-cover{
    width: 100%;
    height: 14.5rem;
    border-radius: .6666666667rem;
    overflow: hidden;
}
.paopao-item-name-wrapper{
    padding: .6666666667rem 0
}
.paopao-item-type{
    width: 100%;
    height:2.7rem
}
.paopao-item-username {
    max-width: 65%
}
.paopao-item-name-wrapper .paopao-tag{
    margin-left: 4px
}
.icon-sexual{
    position: relative;
    top: -2px;
    margin-right: 4px;
    vertical-align: middle;
    width: .833333333rem;
    height: .833333333rem
}
.paopao-item-type .paopao-tag{
    margin-right: 4px
}
.paopao-item-tag{
    position: relative;
    padding: 0 4px;
    height: 14px;
    margin-bottom: 4px;
    margin-right: 4px;
    line-height: 14px;
    font-size: 10px;
    min-width: 2.666666667rem;
    color: #666;
    text-align: center;
    border-radius: 10px;
}
.paopao-item-tag::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top:-50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: 1px solid #ccc;
    border-radius: 20px;
    transform: scale(.5)
}