#global-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    height: 100vh;
    overflow: hidden
}
/*头部信息 */
.my-info{
    padding: 1rem 1.25rem 2rem 1rem
}
.my-avatar{
    width:7.5rem;
    height:7.5rem;
    margin-right: 1rem;
    border-radius: 50%
}

.my-username{
    max-width: 12.5rem;
    font-size: 2rem;
    line-height: 1;
    color: #945dff
}
.my-username-wrapper .global-vip-signs{
    position: relative;
    top: 2px;
}

.icon-edit{
    margin-right: 4px;
    width: 1.166666666667rem;
    height: 1.1666666666667rem;
    fill: #999
}

.my-album-btn{
    position: absolute;
    right: 1.25rem;
    bottom: 2.83333333333333rem;
    height: 2.333333333335rem;
    width: 4.8rem;
    font-size: 1.1666666667rem;
    font-weight: 400;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 24px
}
.my-nav-list{
    padding-bottom: 1rem;
    text-align: center;
}
.my-nav-list::before{
    border-color: #e5e5e5
}
.my-nav-item-data{
    display: block;
    margin-bottom: .41666666667rem;
    font-size: 1.3333333333333rem;
    font-weight: 700;
    color:#333;
    cursor: pointer
}
.my-nav-list .font-999{
    font-size: 1.166666666666rem
}
.new-visit-tips{
    position: absolute;
    top: -.5rem
}
/* 会员卡 */
.vip-card-wrapper{
    padding: 1rem;
}
.vip-card{
    display: block;
    width: 100%;
    height: 16.666666666667rem;
    border-radius: .666666666667rem;
    overflow: hidden
}
.my-vip-btn{
    position: absolute;
    top: .83333333333rem;
    right: 1.25rem;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    border-radius: 2.5rem;
}
.open-vip-btn{
    color: #fff;
    background:linear-gradient(90deg,rgba(148,93,255,1) 0%,rgba(207,42,255,1) 100%);
    box-shadow:0px 3px 6px rgba(148,93,255,0.3)
}
.renew-btn{
    color:#333 ;
    background: #ffc96b
}
.vip-time{
    position: absolute;
    right: 1.25rem;
    top:3.916666666666rem;
    color: #ffc96b;
    font-size: .833333333333rem
}
#main{
    box-sizing: border-box;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 4.083333333rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}
#main::-webkit-scrollbar{
    display: none
}
#main::-webkit-scrollbar-thumb{
    background: transparent
}
.hide-mask{
    position: relative;
    top: -8rem;
    width: 100%;
    height: 43rem
}
#main-content{    
    position: absolute;
    top: 33rem;
    width: 100%;
    padding-bottom: 4.833333333333rem;
    background: #f5f5f5;
    z-index:500;
    transition: transform .48s cubic-bezier(0.215, 0.650, 0.425, 1.000);    
}
/* 个人动态 */
.my-active-news-wrapper{
    position: relative;
    padding: 2rem 1.25rem 2rem 1rem;
    margin-bottom: .83333333333rem;
    background: #fff
}
.my-active-news-wrapper::before{
    top: -1px
}
.my-active-news-block-name{
    margin-right: 2.2rem
}
.my-active-news-item{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: .5rem;
    overflow: hidden
}
.my-active-news-item:not(:last-of-type){
    margin-right: .41666666667rem
}

/* 我的 */
.my-item{
    position: relative;
    padding: 1.333333333333rem 1.25rem 1.333333333333rem 1rem;
    font-size: 1.16666666667rem;
    font-weight: 700;
    color: #333;
    background: #fff
}
.my-item-wrapper:nth-last-of-type(2){
    margin-top: .833333333333rem
}
.icon-my-item{
    margin-right: .666666666667rem;
    width: 1.333333333333rem;
    height:1.333333333333rem;
    fill:#666
}
.my-item .gap-right{
    padding-right: 1.1666666667rem;
    font-weight: 500
}
.icon-arrow-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.25rem;
    margin: auto 0;
    width: 1rem;
    height: 1.0833333333rem;
}

.my-text-center{
    position: relative;
    top:1px
}

.my-invited{
    position: fixed;
    top:58%;
    right:-2.7191666666rem;
    width: 3.666666666666rem;
    height: 4.7916666666rem;
    transition: transform .48s
}
.show-invited{
    transform: rotate(-30deg) translate(-50%)
    /* animation: shake 4.8s linear both infinite */
}
/* @keyframes shake{
    10%{
        transform: rotate(-30deg) translate(-50%)
    }
    39.9%{
        transform: rotate(-30deg) translate(-50%)
    }
    40%{
        transform:translate(-50%,-12.5%) rotate(-30deg)
    }
    42%{
        transform:translate(-50%,0) rotate(-30deg) 
    }
    44%{
        transform:translate(-50%,-12.5%) rotate(-30deg)
    }
    44.1%{
        transform: rotate(-30deg) translate(-50%)
    }
    100%{
        transform: rotate(-30deg) translate(-50%)
    }
} */
