@charset "UTF-8";

@font-face {
    font-family: "ljsh";
    src: url("../font/ljsh.woff2") format("woff2"),
         url("../font/ljsh.woff") format("woff"),
         url("../font/ljsh.ttf") format("truetype"),
         url("../font/ljsh.eot") format("embedded-opentype"),
         url("../font/ljsh.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.poster-tips{
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    padding:1.5rem 0 1.333333333rem;
    font-size: 1.166666667rem;
    line-height: 1.5714285;
    text-align: center;
    color: #666
}

#global-wrapper {
    width: 100%;
    max-width: 640px;
    height: 100vh;
    background: #fff;
}

.swiper-container{
    box-sizing: border-box;
    /* width: 84.533333333333%; */
    width: 100%;
    height: 69.6629213483%;
    padding:0 15.46666666666%;
    /* background: #945DFF; */
    margin-bottom: 2rem;
}

.swiper-slide{
    margin: auto 0;
    height: 90%;
    transform-origin: 100% 0;
}
.swiper-slide-active{
    transition: transform .32s;
    transform: scale(1.111111111) translate(5.555555555%,-5.555555555%);
    box-shadow:0 0 10px rgba(0,0,0,.1)
}

.poster-rules{ 
    position: absolute;
    top: 1.33333333333rem;
    right: 0;
    width: 4rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
    background: #fff;
    border:1px solid rgba(242,242,242,1);
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.loading img{
    margin: auto;
    width: 4.1666666667rem;
    height: 4.1666666667rem
}
#posterCanvas{
    position: absolute;
    top: 0;
    left: 15.46666666667%;
    width: 69.333333334%;
    max-width: 390px;
    height: 100%;
    font-family: 'ljsh';
    opacity: 0;
    z-index: 2;
    
}
.poster-wrapper .global-img{
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; */
    z-index: 2
}

.poster-btn-wrapper{
    margin: 0 auto;
    width: 69.333333334%
}
.global-btn-round-lg{
    margin: 0;
    width: 10.333333333333rem;
    height: 3.333333333333rem;
    font-weight: 500
}
.poster-btn-lf{
    position: relative;
    color: #333;
    background:rgba(255,255,255,1);
}
.poster-btn-lf::after{
    content: '';
    position: absolute;
    top:-50%;
    left:-50%;
    width: 200%;
    height: 200%;
    border: 1px solid #ccc;
    border-radius: 45px;
    transform: scale(.5)
}
.poster-btn-rg{
    color: #fff;
    background: #945DFF
}

.poster-rules-layer{
    position:fixed;
    z-index:1000;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.poster-rules-mask{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.6);
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}
.poster-rules-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    width: 80%;
    max-width: 300px;
    height: 23.49999999rem;
    padding: 0 2.916666666665rem 4.666666666rem;
    background: #fff;
    border-radius: .66666666667rem;
    overflow: hidden;
}
.poster-rules-title{
    padding: 1.33333333333rem 0;
    font-size: 2rem;
    text-align: center;
    font-weight: 700
}
.poster-rules-content p{
    margin-bottom: 1rem;
    font-size: 1.166666666667rem;
    line-height: 1.75
}
.poster-layer-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.166666667rem;
    font-weight: 500;
    height: 3.6666666667rem;
}