#global-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 2rem;
    width: 100%;
    max-width: 640px;
    height: 100vh;
    background: #fff;
}

.poster-rules{
    position: absolute;
    top: 1.33333333333rem;
    right: 0;
    width: 4rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
    background: #fff;
    border:1px solid rgba(242,242,242,1);
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}
.poster-wrapper{
    position: relative;
    margin: 0 auto 1.3333333333rem;
    width: 69.333333334%;
    height: 69.6629213483%
}
#posterCanvas{
    background:#fff
}
.poster-wrapper .global-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.poster-btn{
    margin: 0 auto;
    width: 69.333333334%;
    height: 3.6666666666667rem;
    font-weight: 500
}
.poster-tips{
    margin-bottom: 1.333333333rem;
    font-size: 1rem;
    text-align: center;
    color: #666
}