<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="screen-orientation" content="portrait">
        <meta content="email=no" name="format-detection">
        <meta name="x5-orientation" content="portrait">
        <meta name="x5-page-mode" content="app">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="renderer" content="webkit">
        <meta name="referrer" content="always">
        <link rel="stylesheet" href="../../css/swiper.min.css">
        <link rel="stylesheet" href="../../css/common.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/makefriends-index.css">
        <title>交友圈</title>
    </head>

    <body>
        <div id="app" v-if="init">
            <header id="header" :class="hideBlockNav">
                <!-- 板块导航 -->
                <nav class="global-flex global-box block-nav">
                    <ul class="global-flex-1 global-flex global-flex-end anim">
                        <li v-for="(blockNavItem,blockNavIndex) of blockNav" class="block-item" :class="{'block-active':blockNavIndex === blockIndex}"
                            @click.stop="switchNav(blockNavIndex)">
                            {{blockNavItem}}
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="global-btn publish-btn">
                        <svg aria-hidden="true" class="icon-publish">
                            <use xlink:href="../../img/global.svg#icon-publish"></use>
                        </svg>
                    </a>
                </nav>
            </header>
            <div class="swiper-container" :class="hideBlockNav">
                <!-- 下拉刷新 -->
                <div class="global-flex global-flex-center global-flex-justify-center refresh-wrapper" :style="{transform:'translateY('+refresh.moveLen+'px)'}"
                    v-show="refresh.show">
                    <div class="icon-refresh-wrapper">
                        <svg aria-hidden="true" class="icon-refresh" :class="{'icon-refresh-load':refresh.release}"
                            v-show="!refresh.load">
                            <use xlink:href="../../img/circle.svg#icon-refresh"></use>
                        </svg>
                        <img src="../../img/loading.svg" class="icon-loading" v-show="refresh.load">
                    </div>
                    <div v-show="!refresh.load">{{refresh.release?'释放刷新':'下拉刷新'}}</div>
                    <div v-show="refresh.load">加载中...</div>
                </div>
                <div class="swiper-wrapper global-box" :style="{transform:'translateY('+refresh.moveLen+'px)'}">
                    <!-- id="global-wrapper" ref="wrapper" -->
                    <div class="swiper-slide global-wrapper global-box" ref="wrapper" v-for="(blockNavItem,blockNavIndex) of blockNav">
                        <!-- 子导航 -->
                        <nav class="global-flex block-sub-nav global-border global-border-bottom" v-if="subNavList.length > 0 && blockNavIndex === 0">
                            <ul class="global-flex-1 block-sub-nav-content anim" ref="scrollParent">
                                <li ref="scrollNav" class="block-sub-item font-ellipsis font-ellipsis-1" v-for="(subNavItem,subNavIndex) of subNavList"
                                    :class="{'block-sub-active':blockSubIndex === subNavIndex}" @click.stop="switchSubNav(subNavIndex)">{{subNavItem.name}}</li>
                            </ul>
                            <svg aria-hidden="true" class="icon-fold" v-show="hideBlockNav === 'hide-block-nav'"
                                @click.stop="showBlockNav">
                                <use xlink:href=""></use>
                            </svg>
                        </nav>
                        <!-- 无网络状态 -->
                        <div class="open-network-wrapper" v-show="!netWorkStatus[blockIndex]">
                            <p>请检查Wifi或者无线局域网是否开启</p>
                        </div>
                        <!-- list -->
                        <ul class="circle-list" :class="['circle-list-'+blockNavIndex,{'has-sub-nav':blockIndex === 0 && subNavList.length > 0}]">
                            <li class="circle-item global-border global-border-bottom" :class="{'circle-item-lazy':!lazyLoad[blockIndex][circleIndex]}"
                                v-for="(circleItem,circleIndex) of circleList[blockNavIndex]">
                                <div class="global-flex circle-item-top">
                                    <div class="circle-item-avatar">
                                        <img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike220%2C5%2C5%2C220%2C73/sign=4210e4dcb4096b63951456026d5aec21/9213b07eca806538448187e09ddda144ac3482dd.jpg"
                                            alt="" class="global-img">
                                    </div>
                                    <div class="global-flex-1 global-flex global-flex-column global-flex-between">
                                        <div class="global-flex global-flex-center">
                                            <h5 class="circle-item-username font-ellipsis font-ellipsis-1">Kimi小可爱</h5>
                                            <div class="global-tag">
                                                VIP
                                                <div class="global-tag-text global-bg-orange">VIP</div>
                                            </div>
                                        </div>
                                        <div class="global-flex">
                                            <!-- 这里要控制不同标签的颜色 需要对返回的数据进行处理 -->
                                            <div class="global-tag circle-type">
                                                健身<div class="global-tag-text">健身</div>
                                            </div>
                                            <div class="global-tag circle-time">
                                                2天前<div class="global-tag-text">2天前</div>
                                            </div>
                                            <div class="global-tag circle-viewer">
                                                浏览5486<div class="global-tag-text">浏览5486</div>
                                            </div>
                                            <div class="global-tag circle-distance global-align-right">
                                                19.7km<div class="global-tag-text">19.7km</div>
                                            </div>
                                        </div>
                                    </div>
                                    <svg class="icon-more" aria-hidden="true" @click="showCircleLayer">
                                        <use xlink:href=""></use>
                                    </svg>
                                </div>
                                <div class="circle-item-content">
                                    <!-- 语音 -->
                                    <button class="circle-item-voice global-flex global-flex-center">
                                        <svg class="icon-microphone" aria-hidden="true">
                                            <use xlink:href="../../img/index.svg#icon-microphone"></use>
                                        </svg>
                                        <svg class="icon-voice" aria-hidden="true">
                                            <use xlink:href="../../img/index.svg#icon-voice"></use>
                                        </svg>
                                        <span class="global-align-right">10s</span>
                                    </button>
                                    <!-- 文字 -->
                                    <div class="circle-item-text-wrapper" v-show="!!circleItem.text">
                                        <p class="font-ellipsis" :class="{'font-ellipsis-3':textHide[blockIndex][circleIndex],'circle-item-text':!getTextNode[blockIndex][circleIndex]}">
                                            {{circleItem.text}}
                                        </p>
                                        <a href="javascript:;" class="circle-item-read-btn" v-show="textHide[blockIndex][circleIndex]">全文</a>
                                    </div>
                                    <!-- 照片 -->
                                    <ul class="circle-item-ablum" v-if="!!circleItem.imgList &&circleItem.imgList.length > 0"
                                        @click.stop="previewImg">
                                        <li class="ablum-item" v-for="(imgItem,imgIndex) of circleItem.imgList" :class="[circleItem.imgList.length>1?'ablum-more':'ablum-one',{'default-img':!lazyLoad[blockIndex][circleIndex]}]">
                                            <img :src="lazyLoad[blockIndex][circleIndex]?imgItem:''" :data-circleIndex="circleIndex" :data-imgIndex="imgIndex">
                                        </li>
                                    </ul>
                                    <!-- 定位 -->
                                    <div class="circle-item-location global-flex global-flex-center">
                                        <svg aria-hidden="true" class="icon-location">
                                            <use xlink:href=""></use>
                                        </svg>
                                        <p class="circle-item-location-text font-ellipsis font-ellipsis-1">广州Four
                                            seasonhotel 2701约定你</p>
                                    </div>
                                </div>
                                <div class="global-flex global-flex-between global-flex-center circle-item-bottom">
                                    <div class="global-flex global-flex-center">
                                        <svg aria-hidden="true" class="icon-comment">
                                            <use xlink:link=""></use>
                                        </svg>
                                        2555
                                    </div>
                                    <div class="global-flex global-flex-center anim" @click.stop="like(circleIndex)">
                                        <svg aria-hidden="true" class="icon-like" :class="{ 'icon-liked':testLike}">
                                            <use xlink:href="../../img/circle.svg#icon-like"></use>
                                        </svg>
                                        2955
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 正在加载 -->
                        <img src="../../img/loading.svg" class="is-loading" v-show="isLoading[blockIndex]">
                        <!-- 加载全部 -->
                        <p class="load-all" v-show="loadingAll[blockIndex]">～暂无更多～</p>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <nav class="global-flex footer-item-wrapper">
                    <a href="javascript:void(0);" class="global-flex-1 footer-item global-flex global-flex-justify-center global-flex-column footer-active" @click.stop="backTop">
                        <!-- 交友圈图片要改 -->
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../../img/global.svg#icon-index"></use>
                        </svg>
                        <p>交友圈</p>
                    </a>
                    <a href="../dating.html" class="global-flex-1 footer-item global-flex global-flex-justify-center global-flex-column">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../../img/global.svg#icon-date"></use>
                        </svg>
                        <p>相亲</p>
                    </a>
                    <a href="javascript:void(0);" class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../../img/global.svg#icon-rank"></use>
                        </svg>
                        <p>排行榜</p>
                    </a>
                    <a href="../my.html" class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../../img/global.svg#icon-my"></use>
                        </svg>
                        <p>我的</p>
                    </a>
                </nav>
            </footer>
            <!-- 拉黑 举报 删除弹层 -->
            <div class="circle-layer" v-show="circleLayer" ref="mask">
                <div class="circle-mask" :class="maskAnim"></div>
                <div class="circle-layer-content" :class="contentAnim">
                    <div v-if="!admin" class="circle-layer-admin">
                        <button class="global-btn circle-layer-item global-border global-border-bottom">删除</button>
                        <button class="global-btn circle-layer-item">拉黑</button>
                    </div>
                    <button class="global-btn circle-layer-item circle-layer-report" v-else>举报</button>
                    <button class="global-btn circle-layer-item circle-layer-cancel" @click.stop="hideCircleLayer">取消</button>
                </div>
            </div>
            <!-- 请求超时 -->
            <div class="tips" v-show="showTips">请求超时</div>
        </div>
    </body>
    <script src="../../js/swiper.js"></script>
    <script src="../../js/jweixin-1.0.0.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script type="text/javascript">
        var vConsole = new VConsole();
    </script>
    <script>
        // mock的地址
        var https = 'https://www.easy-mock.com/mock/5c2085ceb9d2c65175338f8c/example/paopao/';

        // requestAnimationFrame兼容
        (function () {
            if (!window.requestAnimationFrame) { //兼容requestAnimationFrame
                window.requestAnimationFrame = function (callback) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                    var timer = window.setTimeout(function () {
                        callback(currTime + timeToCall);
                    }, timeToCall);
                    lastTime = currTime + timeToCall;
                    return timer
                };
            }
            if (!window.cancelAnimationFrame) {
                window.cancelAnimationFrame = function (timer) {
                    clearTimeout(timer)
                };
            }
        })();

        // 缩放函数
        function getBasePixal() {
            var winW = document.documentElement.clientWidth;
            winW = winW > 640 ? 640 : winW;
            if (winW >= 320 && winW < 360) {
                return 10
            } else if (winW >= 360 && winW < 414) {
                return 12
            } else if (winW >= 414 && winW < 640) {
                return 14
            } else if (winW >= 640) {
                return 16
            }
        }
        // 获取函数中位数
        function getArrMid(arr) {
            if (arr.length === 1) {
                return {
                    left: [],
                    mid: arr[0],
                    right: []
                }
            }else{
                var mid = Math.floor(arr.length / 2);
                return {
                    loadLeft:false,
                    left: arr.slice(0, mid),
                    mid: arr[Math.floor(arr.length / 2)],
                    right: arr.slice(mid, arr.length)
                }
            }
        }

        // 滚动防节流函数
        function throttle(interval) {
            var timer,
                startTime = +new Date();
            return function (fn) {
                var currentTime = +new Date();
                clearTimeout(timer);
                if (currentTime - startTime >= interval) {
                    timer = setTimeout(function () {
                        fn && fn()
                        startTime = currentTime;
                    }, interval)
                } else {
                    timer = setTimeout(function () {
                        fn && fn()
                    }, interval)
                }
            }
        }

        // 自定义平滑滚动
        function selfScrollTo (el,position) {
            var scrollTop = el.scrollTop,
                direction = position - scrollTop > 0 ? 1 : -1,
                distance = Math.abs(position - scrollTop),
                split = distance / 50,
                timeout = 1670,
                timer = null;

                if (position !== scrollTop) {
                    split *= direction;
                    timer = setInterval(function () {
                        scrollTop += split;
                        distance -= Math.abs(split);
                        if (0 >= distance) {
                            window.scrollTo(0, position);
                            clearInterval(timer);
                            timer = null;
                        } else {
                            window.scrollTo(0, scrollTop);
                        }
                    }, timeout / 100);
                }
        };

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    init: false,
                    admin: false, // 是否是管理员
                    refresh: {
                        show: false, // 显示上拉加载
                        moveLen: 0, // 触摸移动长度
                        release: false, // 满足释放加载
                        load: false // 松手加载
                    },
                    blockIndex: 0, // 当前板块
                    blockSubIndex: 0, // 当前子版块
                    blockNav: ['全部', '我关注的', '附近的人'], // 板块导航
                    loadingAll: [], // 加载全部
                    isLoading: [], // 正在加载
                    pageIndex: [], // 页数
                    subNavList: [], // 子导航
                    circleList: [], // 交友圈列表
                    textHide: [], //文字溢出显示隐藏
                    getTextNode: [], //获取文字节点
                    loadImgIndex: 0, // 当前懒加载的位置
                    lazyLoad: [], // 图片懒加载
                    lazyLoadIndex: [], // 当前板块懒加载的索引
                    lazyLoadDomNum: [], // 图片懒加载的dom节点高度
                    netWorkStatus: [], // 网络状态
                    location: { // 附近的人坐标
                        lat: 0,
                        lng: 0
                    },
                    hideBlockNav: '', // 隐藏导航的class
                    testLike: false, // 点赞
                    circleLayer: false, // 蒙层开关
                    maskAnim: '', // 蒙层动画
                    contentAnim: '', // 蒙层内容动画
                    showTips: false // 显示提示
                }
            },
            watch: {
                blockIndex: {
                    handler: function (val, oldVal) {
                        var self = this,
                            step = 0;
                        if (this.circleList[this.blockIndex].length == 0) {
                            var timer = requestAnimationFrame(function fn() {
                                if (step <= 30) {
                                    ++step
                                    requestAnimationFrame(fn)
                                } else {
                                    step = 0;
                                    cancelAnimationFrame(timer);
                                    self.loadCircleItem()
                                }
                            })
                        }
                        this.globalScroll()
                    }
                },
                blockSubIndex: {
                    handler: function (val, oldVal) {
                        if (val != oldVal) {
                            var self = this;
                            this.$nextTick(function () {
                                //保证效果的流畅不能同步执行
                                if (this.hideBlockNav !== 'hide-block-nav') {
                                    this.hideBlockNav = 'hide-block-nav';
                                    setTimeout(function () {
                                        self.navScroll('scrollLeft', val, oldVal);
                                    }, 280)
                                } else {
                                    self.navScroll('scrollLeft', val, oldVal);
                                }
                            })
                            this.$set(this.circleList, 0, []);
                            this.$set(this.textHide, 0, []);
                            this.$set(this.getTextNode, 0, []);
                            this.$set(this.lazyLoadIndex, 0, 0);
                            this.$set(this.lazyLoad, 0, []);
                            this.$set(this.lazyLoadDomNum, 0, '');
                            this.$set(this.isLoading, 0, false);
                            this.$set(this.loadingAll, 0, false);
                            this.$set(this.pageIndex, 0, 1)
                            this.loadCircleItem()
                        }
                    }
                },
                circleLayer: {
                    handler: function (val, oldVal) {
                        if (val) {
                            this.maskAnim = 'fadeIn'
                            this.contentAnim = 'sliderFromDown'
                        } else if (oldVal) {
                            this.maskAnim = ''
                            this.contentAnim = ''
                        }
                    }
                }
            },
            created: function () {
                var self = this;
                self.getSubNavList()
                this.initData(function () {
                    self.loadCircleItem()
                })
            },
            mounted: function () {
                var self = this;
                this.init = true;
                this.$nextTick(function () {
                    self.swiper = new Swiper('.swiper-container', {
                        loop: false, // 不循环
                        speed: 500, // 速度500
                        // onTouchStart:function(swiper){
                        //     if(self.blockIndex === 0 && self.hideBlockNav === 'hide-block-nav'){
                        //         swiper.disableTouchControl()
                        //     }
                        // },
                        // onTouchMove:function(swiper){
                        //     if(self.blockIndex === 0 && self.hideBlockNav === 'hide-block-nav'){
                        //         swiper.disableTouchControl()
                        //     }
                        // },
                        onSlideChangeStart: function (swiper) {
                            self.blockIndex = swiper.activeIndex
                        }
                    })
                    this.globalScroll()
                    this.disabledMaskMove()
                })
            },
            methods: {
                // 全局滚动
                globalScroll: function () {
                    var scrollTop = 0,
                        timer = 0,
                        startY = 0,
                        self = this,
                        wrapper = this.$refs.wrapper;
                    var scroll = throttle(50);

                    wrapper[self.blockIndex].addEventListener('touchstart', function (e) {
                        if (wrapper[self.blockIndex].offsetTop === 0) {
                            // if (self.circleList[self.blockIndex].length === 0 && !self.netWorkStatus[
                            //     self.blockIndex]) {
                            timer = +new Date();
                            startY = e.changedTouches[0].pageY;
                            // }
                        }
                    }, false)
                    wrapper[self.blockIndex].addEventListener('touchmove', function (e) {
                        if (wrapper[self.blockIndex].offsetTop === 0) {
                            console.log(wrapper[self.blockIndex].offsetTop)
                            var deltaY = (e.changedTouches[0].pageY - startY) * 0.618;
                            if (wrapper[self.blockIndex].offsetTop === 0 && deltaY > 0) {
                                if (+new Date() - timer >= 10 && !self.refresh.release) {
                                    self.refresh.show = true;
                                    deltaY = deltaY >= 68 ? 68 : deltaY;
                                    if (self.blockIndex === 0) {
                                        if (self.hideBlockNav === 'hide-block-nav') {
                                            self.refresh.moveLen = deltaY / 2
                                        } else {
                                            self.refresh.moveLen = deltaY * 1.35;
                                        }
                                    } else {
                                        self.refresh.moveLen = deltaY / 2;
                                    }
                                    if (deltaY >= 68) {
                                        self.refresh.release = true;
                                    } else {
                                        self.refresh.moveLen = 0
                                    }
                                } else {
                                    e.preventDefault()
                                }
                            }
                            // }
                        }
                    }, false)
                    // 释放结束
                    wrapper[self.blockIndex].addEventListener('touchend', function (e) {
                        if (wrapper[self.blockIndex].offsetTop === 0) {
                            // if (self.circleList[self.blockIndex].length === 0 && !self.netWorkStatus[
                            //     self.blockIndex]) {
                            if (self.refresh.release && !self.refresh.load) {
                                self.refresh.load = true
                                // 上拉加载
                                setTimeout(function () {
                                    self.refresh.moveLen = 0;
                                    self.refresh.release = false;
                                    self.refresh.load = false;
                                    self.refresh.show = false;
                                }, 1500)
                            }
                            // }
                        }
                    }, false)
                    wrapper[self.blockIndex].addEventListener('scroll', function (e) {
                        scroll(function () {
                            if (e.target.scrollTop - scrollTop > 12) {
                                if (self.hideBlockNav !== 'hide-block-nav') {
                                    self.hideBlockNav = 'hide-block-nav'
                                }
                                if (e.target.scrollTop + e.target.clientHeight + 88>= e.target.scrollHeight){
                                    self.loadCircleItem()
                                }
                                self.loadImg(e.target.scrollTop)
                            } else {
                                if (e.target.scrollTop - scrollTop < -20 && self.blockIndex >= 1) {
                                    self.showBlockNav()
                                }
                            }
                            scrollTop = e.target.scrollTop
                        })
                    }, false)
                },
                // 返回顶部
                backTop: function () {
                    selfScrollTo(this.$refs.wrapper[this.blockIndex],0)
                    // var self = this;
                    // var wrapper = this.$refs.wrapper[self.blockIndex];
                    // function getScrollAnimNum(scrollTop) {
                    //     switch (true) {
                    //         case scrollTop >= 12000:
                    //             return 12000
                    //         break
                    //         case scrollTop >= 8000 && scrollTop < 12000:
                    //             return 1000
                    //             break;
                    //         case scrollTop >= 5000 && scrollTop < 8000:
                    //             return 800
                    //             break;
                    //         case scrollTop >= 2000 && scrollTop < 5000:
                    //             return 450
                    //             break;
                    //         default:
                    //             return 150
                    //     }
                    // }
                    
                    // if(wrapper.scrollTop > 0){
                    //     wrapper.scrollTop = wrapper.scrollTop >= 15000 ? 15000 : wrapper.scrollTop;
                    //     var timer = requestAnimationFrame(function fn() {
                    //         if (wrapper.scrollTop > 0) {
                    //             wrapper.scrollTop -= getScrollAnimNum(wrapper.scrollTop);
                    //             requestAnimationFrame(fn)
                    //         } else {
                    //             cancelAnimationFrame(timer)
                    //             wrapper.scrollTop = 0
                    //             if(self.blockIndex >= 1){
                    //                 self.showBlockNav()
                    //             }
                    //         }
                    //     })
                    // }
                },
                // 初始化数据
                initData: function (fn) {
                    var self = this;
                    this.blockNav.forEach(function (item, index) {
                        self.netWorkStatus.push(true)
                        self.isLoading.push(false)
                        self.loadingAll.push(false)
                        self.pageIndex.push(1)
                        self.circleList.push([])
                        self.textHide.push([])
                        self.getTextNode.push([])
                        self.lazyLoadIndex.push(0)
                        self.lazyLoad.push([])
                        self.lazyLoadDom
                    })
                    self.maxTextH = Math.round(getBasePixal() * 1.666666666667) * 3;
                    self.winH = document.documentElement.clientHeight;
                    fn && fn()
                },
                // 获取子版块导航 
                getSubNavList: function () {
                    var self = this;
                    axios.get(https + 'circle?type=99').then(function (res) {
                        if (res.data.data.success) {
                            self.subNavList = res.data.data.subNavList;
                            // axios异步取数据有延时
                            setTimeout(function () {
                                self.initSubNav('offsetLeft');
                            }, 168)
                        }
                    }).catch(function (err) {
                        console.log(err);
                    })
                },
                // 初始化子版块导航
                initSubNav: function (attr) {
                    if (this.subNavList.length > 0) {
                        this.subNavScrollArr = this.$refs.scrollNav.reduce(function (arr, cur, index) {
                            arr.push(cur[attr]);
                            return arr
                        }, [])
                    }
                },
                // 切换板块
                switchNav: function (val) {
                    if (this.blockIndex !== val) {
                        this.blockIndex = val
                        this.showBlockNav()
                        this.swiper.slideTo(val, 500, false)
                    }
                },
                // 显示子导航
                showBlockNav() {
                    this.hideBlockNav = ''
                },
                // 检测定位
                getLocation() {
                    var self = this;
                    wx.getLocation({
                        type: 'wgs84',
                        success: function (res) {
                            self.location = {
                                lat: res.latitude,
                                lng: res.longitude
                            }
                        },
                        fail: function (res) {
                            console.log('fail')
                            console.log(res)
                        }
                    })
                },
                // 切换子版块
                switchSubNav: function (val) {
                    if (this.subNavIndex !== val) {
                        this.blockSubIndex = val
                    }
                },
                // 导航滚动
                navScroll: function (attr, index, before) {
                    var self = this;
                    var startPosition = this.subNavScrollArr[before - 2] || 0,
                        curPosition = this.$refs.scrollParent[0];
                    direction = index > before ? 1 : -1,
                        rate = (index - before) / 2,
                        speedRange = {
                            0.5: 6.85,
                            1: 4.85,
                            1.5: 4.05,
                            2: 3.25
                        }
                    var startAnimation = function (endPosition) {
                        var timer = requestAnimationFrame(function fn() {
                            startPosition += ((endPosition - startPosition) * direction >= 15 ?
                                ((speedRange[Math.abs(rate)] || 3.25) * rate) : 1.5 *
                                direction)
                            if ((direction == 1 && startPosition < endPosition) || (direction ==
                                    -1 && startPosition > endPosition)) {
                                curPosition[attr] = startPosition;
                                timer = requestAnimationFrame(fn);
                            } else {
                                curPosition[attr] = endPosition;
                                cancelAnimationFrame(timer);
                            }
                        })
                    }
                    if (direction === 1 && index > 2) {
                        startAnimation(this.subNavScrollArr[index - 2])
                    } else if (direction === -1) {
                        startAnimation(this.subNavScrollArr[index - 2] >= 0 ? this.subNavScrollArr[index -
                            2] : 0)
                    }
                },
                // 加载交友圈列表
                loadCircleItem: function () {
                    var self = this;
                    // wx.getNetworkType({
                    //     success: function (res) {
                    if (!self.loadingAll[self.blockIndex] && !self.isLoading[self.blockIndex]) {
                        if (self.blockIndex === 2 && self.location.lat === 0 && self.location.lng === 0) {

                        } else {
                            self.$set(self.isLoading, self.blockIndex, true);
                            self.$set(self.netWorkStatus, self.blockIndex, true);
                            axios.get(https + 'circleList').then(function (res) {
                                if (res.data.success) {
                                    if (res.data.data.circleList.length > 0) {
                                        Array.prototype.push.apply(self.circleList[self.blockIndex],res.data.data.circleList)
                                        if(res.data.data.circleList.length < 10){
                                            self.$set(self.loadingAll, self.blockIndex, true)
                                        }
                                    }
                                    self.$set(self.isLoading, self.blockIndex, false);
                                    return res.data.data.circleList
                                }
                            }).then(function (data) {
                                if (data.length > 0) {
                                    self.$nextTick(function () {
                                        self.getImgOffsetTop();
                                        self.calcTextHeight()
                                    })
                                }
                            }).catch(function (err) {
                                console.log(err)
                            })
                        }
                    }
                    //     },
                    //     fail: function (res) {
                    //         // 首次加载会出现无网的图
                    //         if(res.errMsg === 'getNetworkType:fail' && self.circleList[self.blockIndex].length === 0){
                    //             self.$set(self.netWorkStatus,self.blockIndex,false)
                    //         }
                    //     }
                    // });
                    // this.getLocation()
                },
                // 计算文字高度
                calcTextHeight: function () {
                    var self = this;
                    var cirTextArr = document.querySelectorAll('.circle-list-' + self.blockIndex +
                        ' .circle-item-text');
                    var getNodeArr = [],
                        discard = [];
                    cirTextArr.forEach(function (item, index) {
                        self.maxTextH <= item.offsetHeight ? getNodeArr.push(true) : getNodeArr.push(
                            false)
                        discard.push(true)
                    })
                    self.$set(self.textHide, self.blockIndex, self.textHide[self.blockIndex].concat(
                        getNodeArr))
                    self.$set(self.getTextNode, self.blockIndex, self.getTextNode[self.blockIndex].concat(
                        discard))
                },
                // 获取图片的位置
                getImgOffsetTop: function () {
                    var self = this;
                    if(this.lazyLoad[this.blockIndex].length > 0){
                        this.$set(this.lazyLoadIndex,this.blockIndex,this.lazyLoad[this.blockIndex].length - 1)
                        this.$set(this.lazyLoad[this.blockIndex],this.lazyLoad[this.blockIndex].length - 1,true)
                    }
                    var ImgArr = document.querySelectorAll('.circle-list-' + self.blockIndex +
                        ' .circle-item-lazy');
                    var imgOffsetTopArr = [],
                        imgLoadArr = [];
                    ImgArr.forEach(function (item, index) {
                        imgOffsetTopArr.push(item.offsetTop - (self.winH/4));
                        if (self.lazyLoad[self.blockIndex].length === 0) {
                            if(item.offsetTop < self.winH){
                                self.lazyLoadIndex[self.blockIndex] = index
                                imgLoadArr.push(true)
                            }else{
                                imgLoadArr.push(false)
                            }
                        }else{
                            imgLoadArr.push(false);
                        }
                    })
                    Array.prototype.push.apply(this.lazyLoad[this.blockIndex],imgLoadArr);
                    this.lazyLoadDomNum[this.blockIndex] = getArrMid(imgOffsetTopArr);
                    console.log(this.lazyLoadDomNum)
                },
                // 加载图片
                loadImg: function (scrollTop) {
                    if (this.lazyLoadIndex[this.blockIndex] < this.lazyLoad[this.blockIndex].length) {
                        var side = scrollTop < this.lazyLoadDomNum[this.blockIndex].mid ? 'left' : 'right';
                        this.startLoadImg(scrollTop+(this.winH/2), side)
                    }
                },
                // 开始加载图片
                startLoadImg: function (scrollTop, side) {
                    if(!loadLeft && side == 'right'){
                        var arr = this.lazyLoadDomNum[this.blockIndex]['left'].concat(this.lazyLoadDomNum[this.blockIndex]['right'])
                        console.log('ooo'+arr)
                    }else {
                        var arr = this.lazyLoadDomNum[this.blockIndex][side];
                        console.log('xxx'+arr)
                    }
                    if (arr.length > 0) {
                        var loadLeft = this.lazyLoadDomNum[this.blockIndex].loadLeft;
                        console.log('进来了')
                        console.log(side)
                        console.log(this.lazyLoadDomNum[this.blockIndex].loadLeft)
                        
                        for (var i = 0, len = arr.length; i < len; i++) {
                            if (scrollTop >= arr[i]) {
                                this.$set(this.lazyLoad[this.blockIndex],++this.lazyLoadIndex[this.blockIndex],true);
                                arr.shift();
                                // if(side == 'right'){
                                //     break;
                                // }
                            }else{
                                if(!loadLeft && side == 'right'){
                                    this.lazyLoadDomNum[this.blockIndex].loadLeft = true
                                }
                            }
                        }
                    }else{
                        this.lazyLoadDomNum[this.blockIndex].loadLeft = {
                            'right':true
                        }[side]
                    }
                    //     if(side == 'left'){
                    //         this.lazyLoadDomNum[this.blockIndex].loadLeft = true
                    //     }else if (side == 'right'){
                    //         this.lazyLoadDomNum[this.blockIndex].loadLeft = false
                    //     }
                    // }
                },
                // 图片预览
                previewImg: function (e) {
                    var self = this;
                    var data = e.target.dataset;
                    wx.previewImage({
                        current: self.circleList[self.blockIndex][data.circleindex].imgList[data.imgindex],
                        urls: self.circleList[self.blockIndex][data.circleindex].imgList
                    });
                },
                // 点赞
                like: function (index) {
                    console.log(index)
                    this.testLike = true;
                    /* 
                        var circleItem = this.circleList[this.blockIndex][index]; 
                        axios.post().then(function(response){
                            this.$set(circleItem,'like',!circleItem)
                        }).catch(function(err){
                            console.log(err)
                        })
                    */
                },
                // 禁止弹层触摸
                disabledMaskMove() {
                    this.$refs.mask.addEventListener('touchmove', function (e) {
                        e.preventDefault()
                    })
                },
                // 显示弹层
                showCircleLayer() {
                    this.circleLayer = !this.circleLayer
                },
                // 拉黑 删除 举报执行此回调
                hideCircleLayer() {
                    var self = this,
                        step = 0;
                    this.maskAnim = 'fadeOut';
                    this.contentAnim = 'sliderOutDown';
                    var timer = requestAnimationFrame(function fn() {
                        if (step <= 19) {
                            ++step;
                            requestAnimationFrame(fn)
                        } else {
                            cancelAnimationFrame(timer);
                            step = 0;
                            self.circleLayer = false
                        }
                    })
                }
            }
        })
    </script>

</html>