<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta name="x5-page-mode" content="app">
        <link rel="stylesheet" href="../css/swiper.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/newIndex.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Paopao相亲交友</title>
    </head>

    <body>
        <div id="app" v-if="init">
            <div id="global-wrapper" ref="wrapper">
                <!-- banner 泡泡数据 公告 -->
                <header id="header" class="global-bg-fff">
                    <!-- 公告 -->
                    <div class="paopao-announce global-flex global-box global-flex-center" v-if="announceList.length > 0 && !isCloseAnnounce">
                        <img src="../img/icon-announce.png" class="icon-announce">
                        <div class="swiper-container paopao-announce-swiper global-flex-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="(item,index) of announceList">
                                    <a href="javascript:;" class="global-flex global-flex-center">
                                        <div class="global-tag" v-if="item.vote">
                                            投票<i class="global-tag-text">投票</i>
                                        </div>
                                        <p class="font-ellipsis font-ellipsis-1">{{item.title}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="icon-close-wrp" @click.stop="closeAnnounce">
                            <div class="icon-close-content global-flex">
                                <svg class="icon-close" aria-hidden="true">
                                    <use xlink:href="../img/global.svg#icon-close"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- 轮播图 -->
                    <div class="swiper-container paopao-banner-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item,index) of bannerList">
                                <a :href="item.link" target="_blank">
                                    <img :src="item.image" class="global-img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 路由导航 -->
                    <nav class="global-flex paopao-page-nav">
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item">
                            <div class="page-nav-icon-wrp global-flex">
                                <svg aria-hidden="true" class="page-nav-icon" style="fill:#fff">
                                    <use xlink:href="../img/global.svg#icon-rank"></use>
                                </svg>
                            </div>
                            <p>排行榜</p>
                        </a>
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item">
                            <img src="../img/icon-circle.png" class="page-nav-icon-wrp">

                            <p>交友圈</p>
                        </a>
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item page-nav-item-disabled">
                            <img src="../img/icon-activity.png" class="page-nav-icon-wrp"/>
                            <p>活动</p>
                        </a>
                    </nav>
                </header>
               <!-- 板块导航占位符 -->
                <div class="block-nav-wrp anim" v-show="hasFixed"></div>
                 <!-- 板块导航 --><!-- fix-block-nav -->
                <nav class="block-nav global-flex global-box anim" :class="{'fix-block-nav':hasFixed}" ref="blockNav">
                        <a href="javascript:;" class="block-nav-item" :class="{'block-nav-active':blockNavIndex === 0}" @click.stop="switchBlockNav(0)">
                            推荐
                        </a>
                        <a href="javascript:;" class="block-nav-item" :class="{'block-nav-active':blockNavIndex === 1}" @click.stop="switchBlockNav(1)">
                            附近的人
                        </a>
                        <a href="javascript:;" class="block-nav-item">
                            搜索
                        </a>
                        <button class="global-btn recommend-nav-btn">
                            我要曝光
                            <img src="../img/icon-hot.png" class="recommend-tag">
                        </button>
                    </nav>
                <!-- 板块轮播 -->
                <div class="swiper-container paopao-block-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide paopao-block" v-show="blockNavIndex === 0">
                            <ul class="paopao-list global-clearfix">
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>

                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-woman">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-female"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>

                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-woman">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-female"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>

                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-woman">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-female"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>

                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-woman">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-female"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>

                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-woman">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-female"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="paopao-item">
                                    <div class="paopao-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                        <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>
                                        <i class="global-vip-signs"></i>
                                    </div>
                                    <div class="global-flex global-flex-wrap paopao-item-type">
                                        <div class="global-sexual-man">
                                            <svg class="global-icon-sexual">
                                                <use xlink:href="../img/global.svg#icon-man"></use>
                                            </svg>
                                            <i class="global-sexual-text">20</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                        <div class="global-tag">
                                            幽默<i class="global-tag-text">幽默</i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- 正在加载中 -->
                            <img src="../img/loading.svg" class="loading-list-icon">
                        </div>
                        <div class="swiper-slide paopao-content-swiper-block" v-show="blockNavIndex === 1">
                            <ul class="paopao-surround-list global-clearfix">
                                <li class="paopao-surround-item global-flex global-border global-border-bottom">
                                    <div class="paopao-surround-item-cover">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                            class="global-img">
                                    </div>
                                    <div class="global-flex-1">
                                        <h3 class="paopao-surround-item-username paopao-vip font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>
                                        <div class="global-flex paopao-surround-tag-wrapper">
                                            <div class="global-sexual-man">
                                                <svg class="global-icon-sexual">
                                                    <use xlink:href="../img/global.svg#icon-man"></use>
                                                    </svg>
                                                <i class="global-sexual-text">20</i>
                                            </div>
                                            <div class="global-tag paopao-vip-tag">
                                                VIP<div class="global-tag-text">
                                                    VIP
                                                </div>
                                            </div>
                                        </div>
                                        <p class="paopao-surround-text font-ellipsis font-ellipsis-1">叽叽喳喳呵呵哈哈哈呵呵呵呵呵oooooooo啊啊啊啊hehehhe</p>
                                    </div>
                                </li>
                                <li class="paopao-surround-item global-flex global-border global-border-bottom">
                                        <div class="paopao-surround-item-cover">
                                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                                class="global-img">
                                        </div>
                                        <div class="global-flex-1">
                                            <h3 class="paopao-surround-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>
                                            <div class="global-flex paopao-surround-tag-wrapper">
                                                <div class="global-sexual-woman">
                                                    <svg class="global-icon-sexual">
                                                        <use xlink:href="../img/global.svg#icon-female"></use>
                                                        </svg>
                                                    <i class="global-sexual-text">20</i>
                                                </div>
                                            </div>
                                            <p class="paopao-surround-text font-ellipsis font-ellipsis-1">叽叽喳喳呵呵哈哈哈呵呵呵呵呵oooooooo啊啊啊啊hehehhe</p>
                                        </div>
                                    </li>
                            </ul>
                            <!-- 正在加载中 -->
                            <img src="../img/loading.svg" class="loading-list-icon">
                        </div>
                    </div>
                </div>
                <!-- 开通会员 -->
                <a href="javascript:void(0);" class="paopao-vip-btn global-flex global-flex-center" :class="{'show-paopao-vip-btn':showVipBtn}">
                    <div class="paopao-vip-btn-signs">
                    </div>
                    <div class="paopao-vip-btn-content">
                        <p>超级特权</p>
                        <p>7项专属特权</p>
                    </div>
                </a>

                <!-- 侧边栏 -->
                <a href="javascript:void(0);" id="aside" :class="{'show-backtop':showBackTopBtn}" @click.stop="backTop">
                    <svg aria-hidden="true" class="icon-back-top">
                        <use xlink:href="../img/global.svg#icon-back-top"></use>
                    </svg>
                    顶部
                </a>
            </div>
            <footer id="footer">
                <nav class="global-flex footer-item-wrapper">
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-active footer-item">
                        <a href="javascript:void(0);">
                            <svg class="icon-footer" aria-hidden="true">
                                <use xlink:href="../img/global.svg#icon-index"></use>
                            </svg>
                            <p>首页</p>
                        </a>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <a href="./dating.html">
                            <svg class="icon-footer" aria-hidden="true">
                                <use xlink:href="../img/global.svg#icon-date"></use>
                            </svg>
                            <p>相亲</p>
                        </a>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <a href="">
                            <svg class="icon-footer" aria-hidden="true">
                                <use xlink:href="../img/global.svg#icon-message"></use>
                            </svg>
                            <p>信息</p>
                        </a>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <a href="./my.html">
                            <svg class="icon-footer" aria-hidden="true">
                                <use xlink:href="../img/global.svg#icon-my"></use>
                            </svg>
                            <p>我的</p>
                        </a>
                    </li>
                </nav>
            </footer>
        </div>
    </body>
    <script src="../js/vue.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script type="text/javascript">
        var vConsole = new VConsole();
    </script>
    <script>
        // requestAnimationFrame兼容
        (function () {
            if (!window.requestAnimationFrame) { //兼容requestAnimationFrame
                window.requestAnimationFrame = function (callback) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                    var timer = window.setTimeout(function () {
                        callback(currTime + timeToCall);
                    }, timeToCall);
                    lastTime = currTime + timeToCall;
                    return timer
                };
            }
            if (!window.cancelAnimationFrame) {
                window.cancelAnimationFrame = function (timer) {
                    clearTimeout(timer)
                };
            }
        })();

        // 防节流
        function throttle(interval) {
            var timer,
                startTime = +new Date();
            return function (fn) {
                var currentTime = +new Date();
                clearTimeout(timer);
                if (currentTime - startTime >= interval) {
                    timer = setTimeout(function () {
                        fn && fn()
                        startTime = currentTime;
                    }, interval)
                } else {
                    timer = setTimeout(function () {
                        fn && fn()
                    }, interval)
                }
            }
        }


        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    init: false,
                    announceList:[{
                        vote:true,
                        title:'哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈据阿姐啊解决阿娇阿娇阿娇阿娇'
                    },{
                        vote:true,
                        title:'哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈据阿姐啊解决阿娇阿娇阿娇阿娇'
                    }],// 此处模拟
                    bannerList:[{
                        link:'www.baidu.com',
                        image:'../img/global-banner.png'
                    },{
                        link:'www.baidu.com',
                        image:'../img/global-banner.png'
                    }],  //此处模拟
                    isCloseAnnounce:false, //关闭公告
                    hasFixed: false, // fix导航
                    showBackTopBtn:false, // 显示返回顶部
                    showVipBtn:false,      // 显示Vip
                    blockNavIndex:0,       // 板块索引
                }
            },
            created: function () {

            },
            mounted: function () {
                this.init = true
                this.$nextTick(function () {
                    this.initBanner()
                    this.initAnnounce()
                    this.initBlock()
                    this.getNavOffsetTop()
                    this.globalScroll()
                })
            },
            watch: {
                hasFixed:{
                    handler:function(val,oldVal){
                        if(oldVal) {
                            this.showBackTopBtn= false
                            this.showVipBtn=false
                        }
                    }
                }
            },
            methods: {
                // 初始化banner
                initBanner: function () {
                    if(this.bannerList.length > 0){
                        this.bannerSwiper = new Swiper('.paopao-banner-swiper', {
                            speed: 500,
                            loop: true,
                            autoplayDisableOnInteraction: false,
                            autoplay: 3000
                        })
                    }
                },
                // 初始化公告
                initAnnounce: function () {
                    if(this.announceList.length > 0){
                        this.announceSwiper = new Swiper('.paopao-announce-swiper', {
                            direction: 'vertical',
                            loop: true,
                            autoplayDisableOnInteraction: false,
                            autoplay: 2500
                        })
                    }
                },
                // 初始化板块
                initBlock:function() {
                    var self = this;
                    this.blockSwiper = new Swiper('.paopao-block-swiper',{
                        speed: 500,
                        loop: false,
                        grabCursor : true,
                        autoHeight:true,
                        autoplayDisableOnInteraction: false,
                        onSlideChangeStart: function(swiper){
                            self.testFixNav(function() {
                                self.blockNavIndex = swiper.activeIndex
                            })
                        }
                    })
                },
                // 隐藏公告
                closeAnnounce: function () {
                    this.isCloseAnnounce = !this.isCloseAnnounce;
                    this.$nextTick(function() {
                        this.$set(this.announceList,[])
                    })
                },
                // 冻结全部的头部swiper
                freezeHeaderSwiper: function () {
                    if(this.announceList.length > 0 && !this.closeAnnounce){
                        this.announceSwiper.stopAutoplay()
                    }
                    if(this.bannerList.length > 0){
                        this.bannerSwiper.startAutoplay()
                    }
                },
                // 恢复轮播
                recoverHeaderSwiper: function () {
                    if(this.announceList.length > 0 && !this.closeAnnounce){
                        this.announceSwiper.startAutoplay()
                    }
                    if(this.bannerList.length > 0){
                        this.bannerSwiper.startAutoplay()
                    }
                },
                // 全局滚动
                globalScroll: function (fn) {
                    var self = this,
                        startTop = 0, // 起始的scrollTop
                        wrapper = this.$refs.wrapper,
                        throttleInner = throttle(16.7);
                    wrapper.addEventListener('scroll', function (e) {
                        throttleInner(function () {
                            var scrollTop = e.target.scrollTop;
                            if(Math.abs(scrollTop - startTop) >= 10){
                                // 固定导航
                                if (scrollTop >= self.blockNavOffsetTop) {
                                    if (!self.hasFixed) {
                                        self.freezeHeaderSwiper()
                                        self.fixedNav()
                                    }
                                    // 回到顶部
                                    if (self.hasFixed && (scrollTop - 160 >= self.blockNavOffsetTop) && !self.showBackTopBtn) {
                                        self.showBackTop()
                                    } else {
                                        if ((scrollTop - startTop <= -28) && self.showBackTopBtn) {
                                            self.showBackTop()
                                        }
                                    }
                                } else {
                                    if (self.hasFixed) {
                                        self.fixedNav()
                                        self.recoverHeaderSwiper()
                                    }
                                }
                                // 显示Vip
                                if(self.hasFixed && !self.showVipBtn && scrollTop - startTop >= 20){
                                    self.showVip()
                                }else{
                                    if(self.showVipBtn && scrollTop - startTop <= -20){
                                        self.showVip()
                                    }
                                }
                                // 加载更多
                                if (scrollTop + e.target.clientHeight + 168 >= e.target.scrollHeight) {

                                }
                                startTop = scrollTop;
                            }
                        })
                    })
                },
                // 获取导航的高度
                getNavOffsetTop: function () {
                    this.blockNavOffsetTop = this.$refs.blockNav.offsetTop
                },
                // 导航吸顶
                fixedNav: function () {
                    this.hasFixed = !this.hasFixed
                },
                // vip按钮
                showVip:function() {
                    this.showVipBtn = !this.showVipBtn
                },
                // 返回顶部
                showBackTop: function () {
                    this.showBackTopBtn = !this.showBackTopBtn
                },
                // 显示返回顶部
                backTop: function () {
                    this.$refs.wrapper.scrollTop = 0
                },
                // 检测是否吸顶
                testFixNav:function(callback) {
                    var timer = null;
                    if(this.$refs.wrapper.scrollTop < this.blockNavOffsetTop){
                        this.$refs.wrapper.scrollTop = this.blockNavOffsetTop;
                        var count = 0
                        timer = requestAnimationFrame(function fn() {
                            if(count < 13){
                                ++count;
                                requestAnimationFrame(fn)
                            }else{
                                callback && callback()
                                cancelAnimationFrame(timer)
                            }
                        })
                    }else {
                        callback && callback()
                    }
                },
                // 板块切换
                switchBlockNav: function (e) {
                    if (e !== this.blockNavIndex) {
                        this.blockNavIndex = e;
                        var self = this;
                        this.testFixNav(function() {
                            self.blockSwiper.slideTo(e, 500, false)
                        })
                    }
                }
            }

        })
    </script>