<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta name="x5-page-mode" content="app">
        <link rel="stylesheet" href="../css/swiper.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Paopao相亲交友</title>
    </head>

    <body>
        <div id="app" v-if="init">
            <div id="global-wrapper" ref="wrapper">
                <!-- banner 泡泡数据 公告 -->
                <header id="header" class="global-bg-fff">
                    <!-- 公告 -->
                    <div class="paopao-announce global-flex global-box global-flex-center" v-if="">
                        <svg class="icon-announce" aria-hidden="true">
                            <use xlink:hef=""></use>
                        </svg>
                        <div class="swiper-container paopao-announce-swiper global-flex-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:;" class="global-flex global-flex-center">
                                        <div class="global-tag">
                                            投票<i class="global-tag-text">投票</i>
                                        </div>
                                        <p class="font-ellipsis font-ellipsis-1">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈据阿姐啊解决阿娇阿娇阿娇阿娇</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:;" class="global-flex global-flex-center">
                                        <div class="global-tag">
                                            投票<i class="global-tag-text">投票</i>
                                        </div>
                                        <p class="font-ellipsis font-ellipsis-1">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈据阿姐啊解决阿娇阿娇阿娇阿娇</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="icon-close-wrp">
                            <div class="icon-close-content global-flex">
                                <svg class="icon-close" aria-hidden="true">
                                    <use xlink:hef=""></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- 轮播图 -->
                    <div class="swiper-container paopao-banner-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="javascript:void(0);">
                                    <img src="../img/global-banner.png" class="global-img">
                                </a>
                            </div>
                            <div class="swiper-slide global-flex">
                                <a href="javascript:void(0);">
                                    <img src="../img/global-banner.png" class="global-img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 路由导航 -->
                    <nav class="global-flex paopao-page-nav">
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item">
                            <div class="page-nav-icon-wrp global-flex">
                                <svg aria-hidden="true" class="page-nav-icon">
                                    <use xlink:href=""></use>
                                </svg>
                            </div>
                            <p>排行榜</p>
                        </a>
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item">
                            <div class="page-nav-icon-wrp global-flex">
                                <svg aria-hidden="true" class="page-nav-icon">
                                    <use xlink:href=""></use>
                                </svg>
                            </div>
                            <p>交友圈</p>
                        </a>
                        <!-- <a href="javascript:void(0);" class="global-flex-1 page-nav-item page-nav-item-disabled">
                            <div class="page-nav-icon-wrp global-flex">
                                <svg aria-hidden="true" class="page-nav-icon">
                                    <use xlink:href=""></use>
                                </svg>
                            </div>
                            <p>活动</p>
                        </a> -->
                        <a href="javascript:void(0);" class="global-flex-1 page-nav-item page-nav-item-disabled">
                            <div class="page-nav-icon-wrp global-flex">
                                <svg aria-hidden="true" class="page-nav-icon">
                                    <use xlink:href=""></use>
                                </svg>
                            </div>
                            <p>树洞</p>
                        </a>
                    </nav>
                </header>
                <!-- 板块导航 -->
                <div class="block-nav-wrp anim" ref="blockNav">
                    <!-- fix-block-nav -->
                    <nav class="block-nav global-flex global-flex-center global-box">
                        <a href="javascript:;" class="block-nav-item block-nav-active">推荐</a>
                        <a href="javascript:;" class="block-nav-item">附近的人</a>
                        <button class="global-btn recommend-nav-btn">
                            我要曝光
                            <div class="global-tag">
                                热门<i class="global-tag-text">热门</i>
                            </div>
                        </button>
                    </nav>
                </div>
                <!-- 板块内容 -->
                <main id="main" class="global-bg-fff global-relative">
                    <!-- 筛选层 -->
                    <div class="paopao-selected-wrapper anim">
                        <div class="paopao-selected-content global-box">
                            <div class="selected-item">
                                <div class="selected-item-top">
                                    <h6 class="selected-item-tagname">性别</h6>
                                </div>
                                <div class="global-flex">
                                    <button class="global-btn global-flex-1 selected-sexual-btn selected-sexual-active">全部</button>
                                    <button class="global-btn global-flex-1 selected-sexual-btn">男士</button>
                                    <button class="global-btn global-flex-1 selected-sexual-btn">女士</button>
                                </div>
                            </div>
                            <div class="selected-item">
                                <div class="global-flex selected-item-top">
                                    <h6 class="selected-item-tagname">身高</h6>
                                    <div class="font-blue">不限</div>
                                </div>
                                <div class="slider-wrapper">
                                    <input class="range-slider range-height-slider" type="hidden" value="135,135">
                                </div>
                            </div>
                            <div class="selected-item">
                                <div class="global-flex selected-item-top">
                                    <h6 class="selected-item-tagname">年龄</h6>
                                    <div class="font-blue">不限</div>
                                </div>
                                <div class="slider-wrapper">
                                    <input class="range-slider range-age-slider" type="hidden" value="0,65">
                                </div>
                            </div>
                            <div class="selected-item">
                                <div class="global-flex selected-item-top">
                                    <h6 class="selected-item-tagname">月薪</h6>
                                    <div class="font-blue">不限</div>
                                </div>
                                <div class="slider-wrapper">
                                    <input class="range-slider range-salary-slider" type="hidden" value="3000,20000">
                                </div>
                            </div>
                            <div class="global-flex">
                                <button class="global-btn selected-btn selected-btn-reset">重置</button>
                                <button class="global-btn selected-btn selected-btn-sure global-flex-1">确定</button>
                            </div>
                        </div>
                    </div>
                    <!-- 板块轮播 -->
                    <div class="swiper-container paopao-block-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide paopao-block">
                                <ul class="paopao-list global-clearfix">
                                    <li class="paopao-item">
                                        <div class="paopao-item-cover">
                                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                                class="global-img">
                                        </div>
                                        <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                            <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>
    
                                        </div>
                                        <div class="global-flex global-flex-wrap paopao-item-type">
                                            <div class="global-sexual-woman">
                                                <svg class="global-icon-sexual">
                                                    <use xlink:href="../img/global.svg#icon-female"></use>
                                                </svg>
                                                <i class="global-sexual-text">20</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="paopao-item">
                                        <div class="paopao-item-cover">
                                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543333345155&di=1ed82f3b374af9b7eb988123bea26d8b&imgtype=0&src=http%3A%2F%2Fuploads.5068.com%2Fallimg%2F1801%2F151P42a2-4.jpg"
                                                class="global-img">
                                        </div>
                                        <div class="global-flex global-flex-center paopao-item-name-wrapper">
                                            <h3 class="paopao-item-username font-ellipsis font-ellipsis-1">呵呵呵呵呵呵呵</h3>
                                            <i class="global-vip-signs"></i>
                                        </div>
                                        <div class="global-flex global-flex-wrap paopao-item-type">
                                            <div class="global-sexual-man">
                                                <svg class="global-icon-sexual">
                                                    <use xlink:href="../img/global.svg#icon-man"></use>
                                                </svg>
                                                <i class="global-sexual-text">20</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                            <div class="global-tag">
                                                幽默<i class="global-tag-text">幽默</i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- 正在加载中 -->
                                <img src="../img/loading.svg" class="loading-list-icon">
                            </div>
                            <div class="swiper-slide paopao-content-swiper-block">
                                <!-- 上首页 -->
                                <div id="paopao-recommend" class="global-box">
                                    <p class="paopao-recommend-tips">
                                        上首页可以 让更的人注意到你，相亲交友成功率大幅度提高噢！
                                    </p>
                                    <ul class="paopao-recommend-content">
                                        <li class="paopao-recommend-item global-flex global-flex-center">
                                            <div class="paopao-recommend-tag-name">日推/月推</div>
                                            <button class="global-btn paopao-recommend-btn paopao-recommend-btn-active">1元/天</button>
                                            <button class="global-btn paopao-recommend-btn">20元/天 </button>
                                        </li>
                                        <li class="paopao-recommend-item global-flex global-flex-center">
                                            <div class="paopao-recommend-tag-name">开通时长</div>
                                            <input class="paopao-recommend-input" type="number" name="number" pattern="[0-9]*"
                                                placeholder="填写时长" />天
                                        </li>
                                        <li class="paopao-recommend-item global-flex global-flex-center">
                                            <div class="paopao-recommend-tag-name">支付金额</div>
                                            <div class="font-purple">
                                                <span style="font-size:2.5rem">10</span>元
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="paopao-recommend-pay-tips">
                                        温馨提示：<br>支付完成之后，系统会自动按照您购买的时长显示在首页（按照支 付完成时间排序）
                                    </div>
                                    <button class="global-btn global-btn-round-lg">确认支付</button>
                                    <a href="javascript:;" class="paopao-pay-record">购买记录</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- 开通会员 -->
                <button class="paopao-vip-btn global-flex global-flex-center">
                    <div class="paopao-vip-btn-signs">
                    </div>
                    <div class="paopao-vip-btn-content">
                        <p>超级特权</p>
                        <p>7项专属特权</p>
                    </div>
                </button>
    
                <!-- 侧边栏 -->
                <a href="javascript:void(0);" id="aside">
                    <svg aria-hidden="true">
                        <use xlink:href=""></use>
                    </svg>
                    顶部
                </a>
            </div>
            <footer id="footer">
                <nav class="global-flex footer-item-wrapper">
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-active footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../img/global.svg#icon-index"></use>
                        </svg>
                        <p>首页</p>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../img/global.svg#icon-date"></use>
                        </svg>
                        <p>相亲</p>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../img/global.svg#icon-rank"></use>
                        </svg>
                        <p>排行榜</p>
                    </li>
                    <li class="global-flex-1 global-flex global-flex-justify-center global-flex-column footer-item">
                        <svg class="icon-footer" aria-hidden="true">
                            <use xlink:href="../img/global.svg#icon-my"></use>
                        </svg>
                        <p>我的</p>
                    </li>
                </nav>
            </footer>
            <!-- 全局提示层 -->
            <div class="global-dialog-tips">
                <div class="dialog-tips-content">
                    <div class="dialog-tips-content-top global-border global-border-bottom global-flex global-flex-column global-flex-justify-center">
                        <h3 class="dialog-title">提示</h3>
                        <p class="dialog-text"></p>
                    </div>
                    <a href="javascript:void(0);" class="dialog-btn">知道了</a>
                </div>
            </div>
        </div>
    </body>
    <!-- 不要去改这里的调用顺序不然会有bug -->
    <script src="../js/vue.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script>
        // requestAnimationFrame兼容
        (function () {
            if (!window.requestAnimationFrame) { //兼容requestAnimationFrame
                window.requestAnimationFrame = function (callback) {
                    var currTime = new Date().getTime();
                    var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                    var timer = window.setTimeout(function () {
                        callback(currTime + timeToCall);
                    }, timeToCall);
                    lastTime = currTime + timeToCall;
                    return timer
                };
            }
            if (!window.cancelAnimationFrame) {
                window.cancelAnimationFrame = function (timer) {
                    clearTimeout(timer)
                };
            }
        })();

        // 防节流
        function throttle(interval) {
            var timer,
                startTime = +new Date();
            return function (fn) {
                var currentTime = +new Date();
                clearTimeout(timer);
                if (currentTime - startTime >= interval) {
                    timer = setTimeout(function () {
                        fn && fn()
                        startTime = currentTime;
                    }, interval)
                } else {
                    timer = setTimeout(function () {
                        fn && fn()
                    }, interval)
                }
            }
        }
        

        var app = new Vue({
            el:'#app',
            data:function(){
                return {
                    init:false,
                    hasFixed:false,         // fix导航
                    showBackTopBtn:false,   // 显示返回顶部
                }
            },
            created:function() {
                
            },
            mounted:function() {
                this.init = true
                this.$nextTick(function() {
                    this.initBanner()
                    this.initAnnounce()
                    this.getNavOffsetTop()
                })
            },
            watch:{
                
            },
            methods:{
                // 初始化banner
                initBanner:function() {
                    this.bannerSwiper = new Swiper('.paopao-banner-swiper', {
                        speed: 500,
                        loop: true,
                        autoplayDisableOnInteraction: false,
                        autoplay: 3000
                    })
                },
                // 初始化公告
                initAnnounce:function() {
                    this.announceSwiper = new Swiper('.paopao-announce-swiper', {
                        direction: 'vertical',
                        loop: true,
                        autoplayDisableOnInteraction: false,
                        autoplay: 2500
                    })
                },
                // 隐藏公告
                hideAnnounce:function(){

                },
                // 冻结全部的头部swiper
                freezeHeaderSwiper:function() {

                },
                // 恢复轮播
                recoverSwiper:function() {

                },
                // 全局滚动
                globalScroll:function(fn) {
                    var self = this,
                        startTop = 0,    // 起始的scrollTop
                        this.wrapper = this.$refs.wrapper,
                        throttleInner = throttle(50);   // 天猫防止节流的次数为50ms触发一次;
                    wrapper.addEventListener('scroll',function(e) {
                        throttleInner(function() {
                            var scrollTop = e.target.scrollTop;
                            // 固定导航
                            if(scrollTop >= self.blockNavOffsetTop){
                                if(!self.fixedNav){
                                    self.freezeHeaderSwiper()
                                    self.fixedNav()
                                }
                                if((scrollTop >= self.blockNavOffsetTop + 300) && (scrollTop - startTop >= 10) && !self.showBackTopBtn){
                                    self.showBackTop()
                                }else{
                                    if((scrollTop - startTop <= -10) && self.showBackTopBtn){
                                        self.showBackTop()
                                    }
                                }
                            }else{
                                if(self.fixedNav){
                                    self.fixedNav()
                                    self.recoverSwiper()
                                }
                            }
                            // 加载更多
                            if(scrollTop + e.target.clientHeight + 168 >= e.target.scrollHeight){
                                
                            }
                            startTop = scrollTop;
                        })
                        
                    })
                },
                // 获取导航的高度
                getNavOffsetTop:function() {
                    this.blockNavOffsetTop = this.$refs.blockNav
                    console.log(this.blockNavOffsetTop)
                },
                // 导航吸顶
                fixedNav:function() {
                    this.hasFixed = !this.hasFixed
                },
                // 显示返回顶部
                backTop:function() {
                    this.$refs.wrapper.offsetTop = 0
                },
                // 返回顶部
                showBackTop:function(){
                    this.showBackTopBtn = !this.showBackTopBtn
                },
                // 板块切换
                switchBlockNav:function(e){
                    if(e !== this.blockNavIndex){
                        this.blockNavIndex = e
                    }
                }
            }

        })
    </script>