<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta name="x5-page-mode" content="app">
        <link rel="stylesheet" href="../../css/swiper.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/poster.css">
        <title>日签卡</title>
    </head>

    <body>
        <div id="app" v-if="init">
            <div id="global-wrapper">
                <button class="global-btn poster-rules" @click.stop="tapShowRules">规则</button>
                <p class="poster-tips">长按保存图片，分享给朋友</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper anim">
                        <div class="swiper-slide global-flex" v-for="(item,index) of imgList">
                            <div class="loading global-flex" v-if="!imgArr[index] && !loadStatus[index]">
                                <img src="../img/spinner.svg" alt="">
                            </div>
                            <img crossOrigin="Anonymous" :src="imgArr[index]" class="global-img" v-else/>
                        </div>
                    </div>
                    <canvas id="posterCanvas"></canvas>
                </div>
                <div class="global-flex global-flex-between poster-btn-wrapper">
                    <button class="global-btn global-btn-round-lg poster-btn-lf">重置默认图</button>
                    <button class="global-btn global-btn-round-lg poster-btn-rg">修改图片</button>
                </div>
            </div>
            <div class="poster-rules-layer" v-show="showRules">
                <div class="poster-rules-mask"></div>
                <div class="poster-rules-content global-box">
                    <h1 class="poster-rules-title">规则</h1>
                    <p>
                        1. 日签转发给朋友，TA通过识别二维码进入社区。注册之后消费的第一笔，你将会获得他所消费额
                        <span class="font-blue">20%</span>的分成
                    </p>
                    <p>
                        2. 提现金额达到
                        <span class="font-blue">1元以上</span>才可以，在《我的》-《申请提现》
                    </p>
                    <button class="global-btn poster-layer-btn global-border global-border-top" @click.stop="tapShowRules">确定</button>
                </div>
            </div>
        </div>
    </body>
    <script src="../js/jquery-2.1.4.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <!-- 移动端控制台 -->
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script type="text/javascript">
        var vConsole = new VConsole();
    </script> -->
    <script>
        var https = 'https://www.easy-mock.com/mock/5c2085ceb9d2c65175338f8c/example/paopao/';

        // 加载图片
        function preLoadImg(arr) {
            arr = (typeof arr != "object") ? [arr] : arr;
            var newImgs = [],
                loadIndex = 0;
            var loadDone = function () {}
            function loadCount() {
                loadIndex++;
                if (loadIndex === arr.length) {
                    loadDone(newImgs)
                }
            }
            for (var i = 0, len = arr.length; i < len; i++) {
                newImgs[i] = new Image();
                newImgs[i].src = arr[i]
                newImgs[i].onload = function () {
                    loadCount()
                }
                newImgs[i].onerror = function () {
                    loadCount()
                }
            }
            return {
                all: function (f) {
                    loadDone = f || loadDone
                }
            }
        }
        // 获取缩放比例
        function getBasePixal() {
            var winW = document.documentElement.clientWidth;
            winW = winW >= 640 ? 640 : winW;
            if (winW >= 320 && winW < 360) {
                return 10
            } else if (winW >= 360 && winW < 414) {
                return 12
            } else if (winW >= 414 && winW < 480) {
                return 14
            } else if (winW >= 480) {
                return 16
            }
        }
        // 获取canvas的尺寸
        function getCanvasSize() {
            var winW = document.documentElement.clientWidth;
                winW = Math.round(((winW >= 640 ? 640 : winW) * 0.6506666666666666));
            var winH = document.documentElement.clientHeight;
                winH = Math.round(winH * 0.693200663349917);
            var outline = Math.round(winW * 0.06557377049180328);
            return {
                outline:outline,
                w: (winW + outline) * 4,
                h: (winH + outline) * 4
            }
        }
        // 修正月份
        function fixMonth(month){
            return {
                0:'一',
                1:'二',
                2:'三',
                3:'四',
                4:'五',
                5:'六',
                6:'七',
                7:'八',
                8:'九',
                9:'十',
                10:'十一',
                11:'十二'
            }[month] + '月'
        }
        // 修正天数
        function  fixDay(day){
            return day > 9?day:'0'+day
        }

        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    init: false,             // 初始化
                    showRules: false,       // 显示规则
                    code:'',                // 二维码
                    imgList:[],             // 图片
                    imgArr:[],              // 生成的图片
                    loadStatus:[],          // 加载状态
                    currentIndex:0          // 当前索引
                }
            },
            created:function() {
                var self = this;
                this.getCode(function() {
                    self.getImgList()
                })
            },
            // 绘制海报
            methods: {
                // 获取二维码
                getCode:function(fn) {
                    var self = this;
                    axios.get(https + 'code').then(function (res) {
                        console.log(res)
                        // if(res.data.success){
                            var codeImg = new Image();
                            // codeImg.src = res.data.code;
                            codeImg.src = '../img/code.png';
                            codeImg.onload = function() {
                                self.code = codeImg;
                                fn && fn()
                            }
                        // }
                        
                    }).catch(function (err) {
                        console.log(err);
                    })
                },
                // 获取图片
                getImgList:function(){
                    var self = this;
                    axios.get(https + 'poster').then(function (res) {
                        console.log(res)
                        if(res.data.success){
                            self.imgList = res.data.data.imgList;
                            self.init = true;
                            self.$nextTick(function() {
                                self.initSwiper();
                                self.initData();
                                self.loadImg();
                                if(self.imgList.length > 1){
                                    setTimeout(function() {
                                        self.loadImg(self.currentIndex + 1);
                                    },168)
                                }
                            })
                        }
                    }).catch(function (err) {
                        console.log(err);
                    })
                },
                // 初始化swiper
                initSwiper:function() {
                    if(this.imgList.length > 0){
                        var self = this;
                        var winW = document.documentElement.clientWidth;
                        winW = winW >= 640?640:winW;
                        self.swiper = new Swiper('.swiper-container', {
                            loop: false, // 不循环
                            speed: 480,
                            autoHeight: false,
                            centeredSlides : true,      // 居中
                            slideToClickedSlide:true,   //点击的居中
                            onSlideChangeStart: function (swiper) {
                                self.currentIndex = swiper.activeIndex;
                                if(!self.loadStatus[swiper.activeIndex+1] && swiper.activeIndex+1 < self.loadStatus.length){
                                    self.loadImg(swiper.activeIndex + 1)
                                }
                            }
                        })
                    }
                },
                // 初始化数据
                initData:function(){
                    if(this.imgList.length > 0){
                        var date = new Date();
                        var month = fixMonth(date.getMonth());
                        var day = fixDay(date.getDate());
                        for(var i = 0,len = this.imgList.length;i<len;i++){
                            Object.assign(this.imgList[i],{
                                'Tag':'宜'+this.imgList[i].Tag,
                                // 'Image':[this.imgList[i].Image],
                                'Image':['../img/test.jpg'],
                                'title':this.imgList[i].Content.slice(0,2),
                                'month':month,
                                'day':day,
                                'platform':'微赞相亲交友平台'
                            });
                            this.loadStatus.push(false)
                        }

                        console.log(this.imgList);
                        console.log(this.loadStatus)
                    }
                },
                // 规则
                tapShowRules: function () {
                    this.showRules = !this.showRules
                },
                // 绘制海报
                drawPoster: function (currentIndex,img) {
                    var content = this.imgList[currentIndex];
                    // 绘制敬语
                    function drawFortune(ctx, text, fontSize) {
                        ctx.font = fontSize + 'px normal PingFang SC';
                        ctx.textBaseline = 'middle';
                        for (var i = 0; i < text.length; i++) {
                            var fillText = text.slice(i, (i + 1));
                            if (i == 0) {
                                ctx.fillStyle = '#333';
                                ctx.fillText(fillText, ((202 - (fontSize * 3 / 10)) / 260) * parent.w, (192 /
                                        408) *
                                    parent.h);
                            } else {
                                ctx.fillStyle = '#F68C2E';
                                ctx.fillText(fillText, ((202 - (fontSize * 3 / 10)) / 260) * parent.w, ((192 +(fontSize * i) / 3) / 408) * parent.h);
                            }
                        }
                    }

                    // 绘制月份
                    function drawMonth(ctx, text, fontSize) {
                        ctx.fillStyle = '#333';
                        ctx.textBaseline = 'middle';
                        ctx.font = fontSize + 'px normal PingFang SC';
                        for (var i = 0; i < text.length; i++) {
                            var fillText = text.slice(i, (i + 1));
                            if (text.length == 2 && i == 1) {
                                i = 2
                            }
                            ctx.fillText(fillText, ((203 + (fontSize / 4)) / 260) * parent.w, ((192 + (
                                    fontSize * i) /3) / 408) * parent.h);
                        }
                    }

                    // 文字换行
                    function wrapText(ctx, text, fontSize) {
                        text = text.slice(2);
                        var textLen = Math.ceil(text.length / 14); // 一行最多14个
                        ctx.fillStyle = '#333';
                        ctx.font = fontSize + 'px bold PingFang SC';
                        // switch(textLen){
                        //     case 1:
                        //         ctx.fillText(text, (8 / 260) * parent.w, (342 / 434) * parent.h);
                        //     break;
                        //     case 2:
                        //         for (var i = 0; i < textLen; i++) {
                        //             var fillText = text.slice(i * 14, (i + 1) * 14);
                        //             ctx.fillText(fillText, (8 / 260) * parent.w, ((330 + (fontSize * i / (0.83333334 * 2))) /434) * parent.h);
                        //         }
                        //     break;
                        //     case 3:
                                for (var i = 0; i < textLen; i++) {
                                    var fillText = text.slice(i * 14, (i + 1) * 14);
                                    ctx.fillText(fillText, (8 / 260) * parent.w, ((302 + (fontSize * i /(0.83333334 * 2))) /434) * parent.h);
                                }
                        //     break
                        // }
                    }

                    var canvas = document.getElementById("posterCanvas");
                    var ctx = canvas.getContext("2d");

                    // 获取父级的尺寸
                    var parent = getCanvasSize();
                    canvas.setAttribute("width", parent.w - parent.outline*4);
                    canvas.setAttribute("height", parent.h);

                    // 
                    var fontSize = getBasePixal() * 2;
                    canvas.style.width = (parent.w - parent.outline*4) / 2 + 'px';
                    canvas.style.height = (parent.h) / 2 + 'px';

                    // 清空画布
                    ctx.clearRect(0, 0, parent.w, parent.h)

                    // 开始绘制
                    ctx.fillStyle = "#fff";
                    // ctx.fillStyle = "orange";
                    ctx.fillRect(0, 0, parent.w, parent.h);

                    // 绘制banner
                    console.log(content)
                    ctx.drawImage(!img?content.Image[0]:img, parent.outline*2, parent.outline*2, parent.w-parent.outline*8, parent.w-parent.outline*8);

                    // 绘制直角三角形
                    ctx.beginPath();
                    ctx.moveTo(parent.outline*2,parent.w-parent.outline*6);
                    ctx.lineTo(parent.w-parent.outline*6,parent.w-parent.outline*6);
                    ctx.lineTo(parent.w-parent.outline*6,(214 / 260) * parent.w);
                    ctx.fill();
                    ctx.closePath();

                    // 标签矩形
                    ctx.beginPath();
                    ctx.fillStyle = '#fff';
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = '#eaeaea';
                    ctx.fillRect((169 / 260) * parent.w, (147 / 434) * parent.h, (64 / 260) * parent.w, (
                            112 / 434) *
                        parent.h);
                    ctx.strokeRect((168.5 / 260) * parent.w, (147 / 434) * parent.h, (64 / 260) * parent.w,
                        (116 /
                            434) * parent.h)


                    // 标签矩形天数
                    ctx.fillStyle = '#333';
                    ctx.textBaseline = 'middle';
                    ctx.font = 'bold '+fontSize * 6 + 'px PingFangSC-Semibold';
                    ctx.textAlign = 'center'
                    ctx.fillText(content.day, ((177 + fontSize) / 260) * parent.w, (166 / 434) * parent.h);

                    // 绘制矩形分隔线
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = '#ccc';
                    ctx.shadowColor = "#fff";
                    ctx.moveTo((203 / 260) * parent.w, (198 / 434) * parent.h)
                    ctx.lineTo((203 / 260) * parent.w, (254 / 434) * parent.h)
                    ctx.stroke()

                    // 绘制敬语
                    drawFortune(ctx, content.Tag, fontSize * 2.5)

                    // 绘制月份
                    drawMonth(ctx, content.month, fontSize * 2.5)

                    // 标签双引号
                    ctx.fillStyle = '#999';
                    ctx.font = fontSize * 4 + 'px bold PingFang SC';
                    ctx.textBaseline = 'middle';
                    ctx.textAlign = 'right';
                    ctx.fillText('“', (178 / 260) * parent.w, ((120 + fontSize) / 434) * parent.h);
                    ctx.textAlign = 'left';
                    ctx.fillText('”', (220 / 260) * parent.w, ((270 + fontSize / 3) / 434) * parent.h);

                    // 绘制标题
                    ctx.fillStyle = '#333';
                    ctx.textAlign = 'start';
                    ctx.font = fontSize * 6 + 'px ljsh';
                    ctx.fillText(content.title, parent.outline*2, ((257 + fontSize/2) / 434) * parent.h);
                    
                    // 绘制文字
                    wrapText(ctx, content.Content, fontSize * 0.8333333334 * 2);

                    // 绘制二维码边框
                    ctx.strokeStyle = '#eaeaea';
                    ctx.lineWidth = 1;
                    ctx.strokeRect((170 / 260) * parent.w, (295 / 434) * parent.h, fontSize *
                        5.3333333333333*2,
                        fontSize * 5.3333333333333*2);

                    // 绘制二维码
                    ctx.drawImage(this.code, (172 / 260) * parent.w, (297 / 434) * parent.h, fontSize * 10,
                        fontSize *
                        10);

                    // 绘制作者
                    ctx.fillStyle = '#F68C2E';
                    ctx.font = fontSize * .66666666667*2 + 'px PingFang SC';
                    ctx.textBaseline = 'middle';
                    ctx.fillText(content.Author, (8 / 260) * parent.w, (367 / 434) * parent.h);

                    // 二维码
                    ctx.fillStyle = '#666';
                    ctx.font = fontSize * .66666666667*2 + 'px PingFang SC';
                    ctx.textBaseline = 'middle';
                    ctx.fillText('识别二维码看一看', (170.5 / 260) * parent.w, (367 / 434) * parent.h);

                    // 分割线
                    ctx.beginPath();
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = '#ccc';
                    ctx.shadowColor = "#fff";
                    ctx.moveTo(parent.outline*2, (389 / 434) * parent.h)
                    ctx.lineTo(parent.w - parent.outline*6, (389 / 434) * parent.h)
                    ctx.stroke()

                    // 交友平台
                    // ctx.fillStyle = '#999';
                    // ctx.font = fontSize * .833333333334 * 4 + 'px PingFang SC';
                    ctx.scale(.5, .5, (parent.w - ctx.measureText(content.platform).width) / 2, (420 / 434) *
                        parent.h);
                    ctx.translate((parent.w) / 2, (418 / 434) * parent.h)
                    // ctx.fillText(content.platform, (parent.w - ctx.measureText(content.platform).width) / 2,
                    //     (393 /
                    //         434) * parent.h);
                            
                    ctx.fillStyle = '#999';
                    var tips = '本地靠谱的相亲交友平台';
                    ctx.font = fontSize * .833333333334 * 4 + 'px PingFang SC';
                    ctx.fillText(tips, (parent.w - ctx.measureText(tips).width) / 2,
                        (405 /
                            434) * parent.h);
                    

                    // canvas 转base64
                    var src = canvas.toDataURL('image/jpeg', 1);

                    this.$set(this.imgArr,currentIndex,src)
                    this.$set(this.loadStatus,currentIndex,true);
                },
                // 加载图片
                loadImg:function(currentIndex) {
                    var self = this;
                    currentIndex = currentIndex?currentIndex:this.currentIndex;
                    preLoadImg(this.imgList[currentIndex].Image).all(function (imgArr) {
                        self.$set(self.imgList[currentIndex],'Image',imgArr);
                        self.drawPoster(currentIndex);
                    })
                },
                // 修改图片
                changeCover:function() {
                    // 把索引和imgsrc 传入进去
                },
                // 重置默认图
                resetCover:function() {
                    this.drawPoster(this.currentIndex);
                }
            }
        })
    </script>

</html>