<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="x5-page-mode" content="app">
    <title>脱单神预测</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ai-index.css">
</head>
<body>
    <div id="app" v-if="init" >
        <!-- 人脸识别 -->
        <div v-show="step.first" id="ai-entrance">
            <div class="title-wrp">
                <h2 class="title">你能脱单吗？</h1>
                <h3 class="sub-title">人工智能检测 • 解锁2019的桃花运</h3>
            </div>
            <!-- 人脸 -->
            <div class="avatar-wrp">
                <img src="../../img/ai-default.png" alt="" class="global-img" v-show="!avatar">
                <img :src="avatar" alt="" class="global-img" v-show="avatar">
                <!--  -->
                <div class="test-anim test-anim-move" v-show="testing"></div>
            </div>
            <!-- 检测状态 -->
            <div class="test-status-wrp anim" v-show="dataFillDone">
                <div class="test-status" v-show="testing" ref="testWrp">
                    <p class="test-status-item showTesting">正在进行全面检测ing...</p>
                    <p class="test-status-item">正在进行检测三庭五眼ing...</p>
                    <p class="test-status-item">上庭正在检测中庭ing...</p>
                    <p class="test-status-item">中庭正在检测中庭ing...</p>
                    <p class="test-status-item">下庭正在检测中庭ing...</p>
                    <p class="test-status-item">检测完毕</p>
                </div>
            </div>
            <!-- 检测名单 -->
            <div class="attend-list-wrp anim" v-if="!dataFillDone" v-if="!avatar">
                <ul class="attend-list" :class="{'broadcast':broadcast}" :style="{'animation-duration':3600*attendList.length + 'ms'}">
                    <li v-for="(attend,index) of attendList" :key="index">{{attend+'生成了报告'}}</li>
                </ul>
            </div>
            <div>
                <button v-show="!dataFillDone" class="ai-btn" @click.stop="fillData">测一测</button>
                <label for="upload" class="ai-btn" :class="{'testing-btn':testing}"v-show="dataFillDone">
                    <input type="file" id="upload" v-if="!testing">
                    {{testing?(testDone?'正在生成报告':'检测中'):'上传个人照片'}}
                </label>
            </div>
        </div>
        <!-- 人脸检测不到 -->
        <div id="ai-empty" v-show="step.third">
           <div class="img-wrp">
               <img src="../../img/ai-empty.png" alt="" class="global-img">
           </div> 
           <h2 class="title">没有检测到人脸</h2>
           <h3 class="sub-title">重新上传照片尽量做到：</h3>
           <p class="tips">脸部完整呈现 </p>
           <p class="tips">五官正面清晰</p>
           <p class="tips">没有刘海遮挡</p>
           <label for="re-upload" class="ai-btn">
                <input type="file" value="重新上传" id="re-upload">
                重新上传
           </label>
        </div>
        <!-- 信息填写 -->
        <div v-show="step.second" id="ai-data">
            <h2 class="title">信息填写</h2>
            <div class="data-wrp">
                <label for="user-name" class="user-name-wrp">
                    <input type="text" id="user-name" placeholder="请输入你的名字" v-model.trim="data.userName" @input="fixInputPosition" ref="input">
                </label>
                <ul class="sexual-list global-flex global-flex-between">
                    <li class="sexual-item ai-btn" :class="{'sexual-active':data.sexualIndex === 0}" @click.stop="data.sexualIndex = 0">男</li>
                    <li class="sexual-item ai-btn" :class="{'sexual-active':data.sexualIndex === 1}" @click.stop="data.sexualIndex = 1">女</li>
                </ul>
                <label for="time-select" class="ai-btn time-select-wrp">
                    <input type="date" id="time-select" @change="selectedBirth">
                    {{data.birth?data.birth:'请选择你的出生日期'}}
                </label>
            </div>
            <button class="ai-btn" @click.stop="startTest">下一步</button>
        </div>
        <!-- 提示 -->
        <div class="global-tips" v-show="tips.show">{{tips.content}}</div>
    </div>
</body>
<script src="../../js/vue.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
<script type="text/javascript">
    var vConsole = new VConsole();
</script> -->

<script>
    // requestAnimationFrame兼容
    (function () {
        if (!window.requestAnimationFrame) { //兼容requestAnimationFrame
            window.requestAnimationFrame = function (callback) {
                var currTime = new Date().getTime();
                var timeToCall = Math.max(0, 16.7 - (currTime - lastTime));
                var timer = window.setTimeout(function () {
                        callback(currTime + timeToCall);
                }, timeToCall);
                lastTime = currTime + timeToCall;
                return timer
            };
        }
        if (!window.cancelAnimationFrame) {
            window.cancelAnimationFrame = function (timer) {
                clearTimeout(timer)
            };
        }
    })();
    var app = new Vue({
        el:'#app',
        data:function(){
            return{
                init:false,
                avatar:'',
                broadcast:false,
                count:1,
                attendList:[
                    '琳琳***1',
                    '琳琳***2',
                    '琳琳***3',
                    '琳琳***4',
                    '琳琳***5',
                    '琳琳***6',
                    '琳琳***7',
                    '琳琳***8',
                    '琳琳***9',
                    '琳琳***10'
                ],  // 参与名单
                step:{
                    first:true,
                    second:false,
                    third:false
                },
                data:{
                    userName:'',
                    sexualIndex:0,
                    birth:''
                },
                tips:{
                    show:false,
                    content:''
                },
                dataFillDone:false, // 数据填写完成
                testing:false,    // 正在检测
                testDone:false   // 检测完成
            }
        },
        mounted:function() {
            this.init = true;
            var self = this;
            setTimeout(function() {
                // self.dataFillDone = true
                // self.testing = true
                self.broadcasting(3000)
            },500)
        },
        watch: {
            broadcast:function(val,oldVal) {
                if(oldVal){
                    var self = this;
                    ++this.count;
                    if(this.count === 2){
                        this.broadcasting(3000)
                    }else{
                        setTimeout(function() {
                            self.broadcasting(3000)
                        },128)
                    }
                }
            },
            dataFillDone:function(val){
                if(val){
                    this.getTestingStatus()
                }
            },
            testing:function(val){
                if(val){
                    var self = this;
                    this.testingStatus.forEach(function(item,index){
                        setTimeout(function(){
                            item.className += ' test-active';
                            if(index+1 <= self.testingStatus.length - 1){
                                self.testingStatus[index+1].className += ' showTesting'
                            }
                            if(index > 0){
                                self.testingStatus[index-1].className -= ' showTesting'
                            }
                            
                            if(index === self.testingStatus.length - 1){
                                self.testDone = true
                            }
                            setTimeout(function() {
                                if(index < self.testingStatus.length - 1){
                                    self.$refs.testWrp.style.cssText = 'transform:translateY(-'+((index+1)*2)+'rem)';
                                }else if (index === self.testingStatus.length - 1){
                                    setTimeout(function() {
                                        window.location.href= "./ai-result.html"
                                    },1000)
                                }
                            },2000)
                        },2000*index)
                    })
                }
            },
            'tips.show':function(val) {
                if(val){
                    var self = this;
                    setTimeout(function() {
                        self.showTips(false,'')
                    },1500)
                }
            }
        },
        methods:{
            // 测试
            broadcasting:function(time) {
                var self = this;
                var totalNum = Math.round((time*(this.attendList.length/6)*this.count)/16.7);
                var Num = 0;
                this.broadcast = true;
                var timer = requestAnimationFrame(function fn() {
                    if(Num <= totalNum){
                        if(self.count < 3 && Num === totalNum){
                            self.attendList = self.attendList.concat([],self.attendList)
                        }
                        ++Num;
                        requestAnimationFrame(fn)
                    }else{
                        cancelAnimationFrame(timer)
                        Num = 0;
                        self.broadcast = false;
                    }
                })
            },
            // 信息填写
            fillData:function() {
                this.step = Object.assign({},this.step,{
                    first:false,
                    second:true,
                    third:false
                })
            },
            // 检测信息填写
            startTest:function() {
                if(this.testUserName() && this.testBirth()){
                    this.dataFillDone = true;
                    this.testing = true;   // 上传完图片才把这个testing变成true
                    this.step = Object.assign({},this.step,{
                        first:true,
                        second:false,
                        third:false
                    })
                }
            },
            // 修正输入框的位置
            fixInputPosition:function() {
                this.$refs.input.scrollIntoView(false)
            },
            // 选择出生日期
            selectedBirth:function(e){
                if(+new Date(e.target.value) > + new Date()){
                    this.showTips(true,'请选择正确的出生日期');
                    this.$set(this.data,'birth','')
                }else{
                    this.$set(this.data,'birth',e.target.value)
                }                
            },
            // 检测用户名
            testUserName:function() {
                if(this.data.userName == ''){
                    this.showTips(true,'请输入你的名字')
                    return false
                }else{
                    return true
                }
            },
            // 检测出生
            testBirth:function() {
                if(this.data.birth == ''){
                    this.showTips(true,'请选择你的出生日期')
                    return false
                }else{
                    return true
                }
            },
            // 获取检测状态
            getTestingStatus:function(){
                this.testingStatus = Array.prototype.slice.call(document.querySelectorAll('.test-status-item'))
            },
            // 显示提示
            showTips:function(show,content) {
                this.tips = Object.assign({},this.tips,{
                    show:show,
                    content:content
                })
            }
        }
    })
</script>
</html>