<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <meta name="x5-page-mode" content="app">
        <title>诚信认证</title>
        <link rel="stylesheet" href="../../css/common.css">
        <link rel="stylesheet" href="../../css/honesty-identify.css">
    </head>

    <body>
        <div id="app">
            <header id="header">
                <img src="../../img/matchmaker/identification-bg.png"  class="header-bg">
                <figure class="global-flex global-flex-center header-card">
                    <img src="../../img/matchmaker/level-signs.png" class="icon-signs">
                    <figcaption class="font-fff">
                        <div class="font-12" style="margin-bottom:.916666667rem">
                            <span class="font-bold font-14">诚信等级</span>
                            <span>每成功认证一项，加一星</span>
                        </div>
                        <ul class="start-list global-flex">
                            <li class="star-item" v-for="(item,index) of starList">
                                <img src="../../img/matchmaker/star.png" class="global-img" v-if="item === true">
                                <img src="../../img/matchmaker/star-none.png" class="global-img" v-else>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </header>
            <main id="main">
                <h1 class="title">- 认证项目越多诚信越高 -</h1>
                <section class="item-wrp">
                    <h2 class="item-title">联系方式认证</h2>
                    <ul class="item-list">
                        <li class="item">
                            <a href="./phone-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-phone.png" class="icon-phone">
                                <span class="item-name">手机认证</span>
                                <span class="global-align-right font-999">已认证</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="./wechat-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-wechat.png" class="icon-wechat">
                                <span class="item-name">微信认证</span>
                                <span class="global-align-right font-red">未认证</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
                <section class="item-wrp">
                    <h2 class="item-title">身份认证</h2>
                    <ul class="item-list">
                        <li class="item">
                            <a href="./realname-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-identification.png" class="icon-name">
                                <span>实名认证</span>
                                <span class="global-align-right font-999">已认证</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="./education-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-edu.png" class="icon-edu">
                                <span>学历</span>
                                <span class="global-align-right">待认证</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
                <section class="item-wrp">
                    <h2 class="item-title">资产认证</h2>
                    <ul class="item-list">
                        <li class="item">
                            <a href="./house-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-house.png" class="icon-house">
                                <span>房产认证</span>
                                <span class="global-align-right font-blue">待审核</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="./car-identify.html" class="global-flex global-flex-center font-bold item-content">
                                <img src="../../img/matchmaker/icon-car.png" class="icon-car">
                                <span>车辆认证</span>
                                <span class="global-align-right font-999">已认证</span>
                                <svg aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="../../img/global.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
            </main>
            <footer id="footer">
                <p>关于隐私安全</p>
                <p>您上传的证件图片等资料，仅供审核使用且TA人无法查看。除此之
                    外，我们还会进行安全水印处理，尽情放心。</p>
            </footer>
            <div class="layer" v-if="layer.showLayer">
                <div class="layer-mask"></div>
                <div class="layer-content">
                    <h2 class="layer-title">认证服务条款</h2>
                    <div class="layer-txt-wrp" ref="layerContent">
                        <p>尊敬的用户：</p>
                        <p>您上传的证件图片等资料，仅供审核使用且TA人无法查看。</p>
                        <p>除此之外，我们还会进行安全水印处理，尽情放心。</p>
                        <div class="layer-comfirm">
                            <label for="layer-checkbox" class="global-flex global-flex-center layer-checkbox-wrp" @click="readPolicy">
                                <input type="checkbox" id="layer-checkbox" :checked="layer.readDone">
                                <i class="checkbox"></i>
                                已阅读并同意认证服务条款
                            </label>
                        </div>
                        <p class="layer-tips">
                            （您所上传的证件资料，平台将进行人工审核。我们会尽可能的去辨别信息的真假。（平台仅作信息展示，不负责也不能保证信息的真实性。因此，如果当事人因信息认证原因，产生相关刑事事件，本平台将不负责相关责任。）
                        </p>
                    </div>
                    <a href="javascript:void(0);" class="layer-btn" :class="{'layer-btn-read':layer.readDone}" @click.stop="closeLayer">确定</a>
                </div>
            </div>
        </div>
    </body>
    <script src="../../js/vue.min.js" @click.stop="closeLayer"></script>
    <script>

        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    init:false,
                    starList:[],
                    layer:{
                        showLayer:true,
                        readDone:false
                    }
                }
            },
            created() {
                this.initStar()
                console.log(this.starList)
            },
            mounted:function() {
                this.init = true
                this.calcStar()
                this.listenerLayer()
            },
            methods: {
                // 初始化星星
                initStar:function() {
                    for(var i = 1;i < 7;i++){
                        this.starList.push(i)
                    }
                },
                // 计算星星
                calcStar:function() {
                    this.starList = [true,true,true,false,false,false]
                },
                listenerLayer:function() {
                    var startX = 0,
                        startY = 0,
                        self = this,
                        layerContent = this.$refs.layerContent;

                    layerContent.addEventListener('touchstart', function (e) {
                        startX = e.changedTouches[0].pageX;
                        startY = e.changedTouches[0].pageY;
                    }, false);

                    layerContent.addEventListener('touchmove', function (e) {
                        e.stopPropagation();
                            var deltaX = e.changedTouches[0].pageX - startX;
                            var deltaY = e.changedTouches[0].pageY - startY;
                            // 只能纵向滚
                            if(Math.abs(deltaY) < Math.abs(deltaX)){
                                e.preventDefault();
                                return false;
                            }
                            if(this.offsetHeight + this.scrollTop >= this.scrollHeight){
                                if(deltaY < 0) {
                                    e.preventDefault();
                                    return false
                                }
                            }
                            if(this.scrollTop === 0){
                                if(deltaY > 0) {
                                    e.preventDefault();
                                    return false
                                }
                            }
                    },false)
                },
                readPolicy:function() {
                    this.$set(this.layer,'readDone',!this.layer.readDone)
                },
                closeLayer:function() {
                    if(this.layer.readDone){
                        this.$set(this.layer,'showLayer',false)
                    }
                }
            }
        })
    </script>

</html>