<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/adindex.css">
</head>
<body>
    <div id="app" v-if="init">
        <!-- 导航 -->
        <nav id="nav" @click.stop="switchNav" class="global-flex global-flex-end">
            <a href="javascript:void(0);" class="nav-item" :class="{'nav-active':index === navIndex}" v-for="(item,index) of navList" :key="index" :data-index="index">{{item}}</a>
        </nav>
        <!--  -->
        <main id="main">
            <div v-for="(adList,adIndex) of adBlock" :key="adIndex" v-show="adIndex === navIndex" ref="wrap">
                <!-- 暂无投放历史 -->
                <section  class="ad-empty-block" v-if="adIndex === 1 && adBlock[adIndex].length === 0">
                    <figure>
                        <img src="../../img/ad-empty.png" class="ad-empty-img">
                        <figcaption>
                            暂无广告记录
                        </figcaption>
                    </figure>
                    <a href="javascript:;" class="ad-empty-btn">投放广告</a>
                </section>
                <!-- 列表页面 -->
                <ul class="ad-list" v-if="adList.length > 0" :data-test="adList.length">
                    <li class="ad-item-wrp" v-for="(adItem,adItemIndex) of adList" :key="adItemIndex">
                        <div class="ad-item-top">
                            <div class="ad-item-cover">
                                <img src="http://p9.pstatp.com/large/149b000474f2ffe61bfc" class="global-img">
                            </div>
                            <div class="global-flex global-flex-center ad-item-data">
                                <div class="ad-item-data-item">浏览量：5952</div>
                                <div class="ad-item-data-item">浏览量：5952</div>
                                <div class="ad-item-data-item global-align-right">投放时长：7天</div>
                            </div>
                            <div class="global-tag ad-status">
                                已下架
                                <div class="global-tag-text">已下架</div>
                            </div>
                        </div>
                        <div class="global-flex global-flex-center ad-item-bottom">
                            <!-- 对应的状态请看设计稿 -->
                            <p class="ad-time ad-time-red">2019-02-05 22:55 到期</p>
                            <!-- <p class="ad-time">2019-02-05 22:55 已到期</p>
                            <p class="ad-time">2019-02-05 22:55 自主下架</p> -->
                            <button class="ad-item-bottom-btn global-align-right ad-unshelve" @click.stop="openDialog(adItemIndex)">下架</button>
                            <button class="ad-item-bottom-btn ad-recharge" @click.stop="openLayer(adItemIndex)">续费</button>
                            <!-- <button class="ad-item-bottom-btn global-align-right ad-reshelf">重投</button> -->
                        </div>
                    </li>
                </ul>
                <!-- v-show="loadAll[navIndex]" -->
                <div class="load-all">我是底线</div>
            </div>
        </main>
        <!-- 续费 -->
        <div class="layer-wrp" v-show="showLayer" ref="layer">
            <div class="layer-mask" @click.stop="showLayer = !showLayer"></div>
            <div class="layer-content">
                <section class="global-flex global-flex-end layer-header">
                    <div class="layer-img">
                        <img src="http://img3.imgtn.bdimg.com/it/u=3140871905,3736058072&fm=11&gp=0.jpg" class="global-img">
                    </div>
                    <span>点击可看大图</span>
                </section>
                <section>
                    <h2 class="layer-item-name">续费时长</h2>
                    <ul class="layer-item-list" @click.stop="chooseRenewTime">
                        <li class="layer-item-item" v-for="(item,index) of renewList" :key="index" :class="{'layer-item-active':layerItemIndex === index}" :data-index="index">
                            {{item.price+'元/'+ item.time}}
                            <div class="layer-tag global-tag">
                                荐
                                <div class="global-tag-text">
                                    荐
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="global-flex global-flex-between global-flex-center" style="margin-bottom:2.33333333333rem">
                    <h2 class="layer-item-name" style="margin-bottom:0">购买天/月数</h2>
                    <div class="global-flex">
                        <button class="global-btn layer-item-btn" @click.stop="minus">-</button>
                        <form action="#">
                            <input type="number" v-model.number="renewDays" class="lay-input" pattern="[0-9]*" @blur="fixInputPosition">
                        </form>
                        <button class="global-btn layer-item-btn" @click.stop="add">+</button>
                    </div>
                </section>
                <footer class="layer-footer global-flex global-flex-between global-flex-center">
                    <div class="layer-footer-text">
                        <span class="total-price">{{totalPay}}</span>
                        <span>购买时长：</span>
                        {{renewDays + (layerItemIndex === 0?'天':'个月')}}
                    </div>
                    <button class="global-btn layer-footer-btn">付费</button>
                </footer>
            </div>
        </div>
        <!-- 对话框 -->
        <div class="dialog-wrp" @click.stop="hideDialog" v-show="showDialog">
            <div class="dialog-mask" data-type="cancel"></div>
            <div class="dialog-content">
                <h3 class="dialog-title">提醒</h3>
                <div class="dialog-content-top">
                    <p>提前下架之后，费用将不予退还</p>
                    <p>您确定要下架广告吗？</p>
                </div>
                <div class="global-flex dialog-footer global-border global-border-top">
                    <button class="global-flex-1 dialog-btn" data-type="sure">确定</button>
                    <button class="global-flex-1 dialog-btn" data-type="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../js/vue.min.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:function() {
            return {
                init:false,
                navIndex:0,
                navList:['展示中','投放历史'],      // 导航 
                adBlock:[[1,2,3,4,5,6,7,8],[1]],  // 板块
                loadAll:[false,false],  // 加载完成
                isLoading:[false,false], // 正在加载中
                scrollTopArr:[0,0],
                layerItemIndex:0,  // 
                renewDays:1,       // 购买时长
                renewList:[{      // 续费套餐价格 
                    price:20,
                    time:'天'
                },{
                    price:200,
                    time:'月'
                }],
                showLayer:false,  //显示弹层
                showDialog:false     
            }
        },
        mounted() {
            this.init = true;
            this.globalScroll()
        },
        computed:{
            // 总价
            totalPay:function() {
                return (this.renewList[this.layerItemIndex].price * this.renewDays).toFixed(2)
            }
        },
        watch:{
            // 续费时间
            renewDays:function(val) {
                if(val <= 1){
                    this.renewDays = 1
                }
            }
        },
        methods: {
            // 全局滚动
            globalScroll:function() {
                var self = this;
                window.onscroll = function(e) {
                    self.$set(self.scrollTopArr,self.navIndex,window.scrollY)
                    if(!self.loadAll[self.navIndex] && !self.isLoading[self.navIndex]){
                        if(window.scrollY + document.documentElement.clientHeight + 128 >= document.documentElement.scrollHeight){
                            self.loadData();
                        }
                    }
                }
            },
            // 加载数据
            loadData:function() {
                if(!this.isLoading[this.navIndex]){
                    this.$set(this.isLoading,this.navIndex,true);

                }
            },
            // 修正input的位置
            fixInputPosition:function() {
                this.$refs.layer.scrollIntoViewIfNeeded()
            },
            // 切换导航
            switchNav:function(e) {
                var index = e.target.dataset.index,
                    self = this;
                if(!!index && +index !== this.navIndex){
                    this.navIndex = +index;
                    self.globalScroll();
                    this.$nextTick(function() {
                        window.scrollTo(500,self.scrollTopArr[self.navIndex]);
                    })
                    if(!this.loadAll[this.navIndex] && this.adBlock[this.navIndex].length === 0){
                        this.loadData()
                    }
                }
            },
            // 显示弹层
            openLayer:function(e) {
                this.showLayer = true
            },
            // 显示对话
            openDialog:function(e){
                this.showDialog = true
            },
            // 选择续费项目
            chooseRenewTime:function(e){
                var index = +e.target.dataset.index;
                if(index !== this.layerItemIndex){
                    this.layerItemIndex = index
                }
            },
            // 减
            minus:function() {
                if(this.renewDays > 1){
                    --this.renewDays
                }
            },
            // 加
            add:function() {
                ++this.renewDays
            },
            // 隐藏对话
            hideDialog:function(e){
                var type = e.target.dataset.type;
                if(type === 'cancel'){
                    this.showDialog = false
                }else if (type === 'sure'){
                    this.showDialog = false
                }
            }
        }
    })
</script>
</html>